{% extends "base.html" %}
{% block title %}GBB {{ year }} 会場 & チケット - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB {{ year }} 会場 & チケット - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB {{ year }} 会場 & チケット - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block content %}
<h1>GBB {{ year }} 会場 & チケット</h1>
<p>GBB {{ year }} はオンラインで開催され、Swissbeatbox公式YouTubeチャンネルで生中継されました。</p>
{% endblock %}
