Jinja2==3.1.5
pandas==2.2.3
Flask==2.3.3
Flask-Caching==2.3.0
flask-babel==2.0.0
flask-sitemapper==1.8.1
folium==0.19.4
redis==5.2.1
google-generativeai==0.8.3
gspread==6.1.4
oauth2client==4.1.3
google-auth==2.37.0
Levenshtein==0.26.1
pykakasi==2.3.0
mojimoji==0.0.13
ratelimit==2.2.1
googletrans==4.0.0rc1
polib==1.2.0
