{% extends "base.html" %}
{% block title %}GBB 2023 タイムスケジュール - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2023:タイムスケジュール - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2023:タイムスケジュール - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/2023/time_schedule{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/2023/time_schedule{% endblock %}
{% block content %}
<h1>GBB 2023 タイムスケジュール</h1>
<p>
  時刻は英語版の発表内容を掲載しています。日本語版と英語版で内容に矛盾があります。
</p>

<h2>Day1</h2>
<table>
  <thead>
    <tr>
    <th>時刻</th>
    <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13:15</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>14:00</td>
      <td>スタート</td>
    </tr>
    <tr>
      <td>14:15</td>
      <td>Pe4enkata showcase</td>
    </tr>
    <tr>
      <td>14:30</td>
      <td>Producer showcase</td>
    </tr>
    <tr>
      <td>16:20</td>
      <td>U18 準々決勝</td>
    </tr>
    <tr>
      <td>17:10</td>
      <td>Tag Team showcase予選</td>
    </tr>
    <tr>
      <td>18:05</td>
      <td>休憩</td>
    </tr>
    <tr>
      <td>18:55</td>
      <td>U18 準決勝</td>
    </tr>
    <tr>
      <td>19:25</td>
      <td>Crew showcase予選</td>
    </tr>
    <tr>
      <td>20:20</td>
      <td>U18 決勝・セレモニー</td>
    </tr>
    <tr>
      <td>21:15</td>
      <td>終了</td>
    </tr>
  </tbody>
</table>

<h2>Day2</h2>
<table>
  <thead>
    <tr>
    <th>時刻</th>
    <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13:15</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>14:00</td>
      <td>スタート</td>
    </tr>
    <tr>
      <td>14:05</td>
      <td>Mad Twinz showcase</td>
    </tr>
    <tr>
      <td>14:20</td>
      <td>Loopstation 準々決勝</td>
    </tr>
    <tr>
      <td>16:00</td>
      <td>Crew 決勝（英語版には「3位決定戦」と記載あり）</td>
    </tr>
    <tr>
      <td>16:30</td>
      <td>休憩</td>
    </tr>
    <tr>
      <td>17:20</td>
      <td>Producer showcase</td>
    </tr>
    <tr>
      <td>18:30</td>
      <td>Solo showcase予選</td>
    </tr>
    <tr>
      <td>20:45</td>
      <td>Crew, Producer showcase部門 セレモニー</td>
    </tr>
    <tr>
      <td>21:15</td>
      <td>終了</td>
    </tr>
  </tbody>
</table>

<h2>Day3</h2>
<table>
  <thead>
    <tr>
    <th>時刻</th>
    <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13:15</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>14:00</td>
      <td>スタート</td>
    </tr>
    <tr>
      <td>14:05</td>
      <td>Uniteam showcase</td>
    </tr>
    <tr>
      <td>14:25</td>
      <td>Loopstation 準決勝・決勝</td>
    </tr>
    <tr>
      <td>16:00</td>
      <td>Solo 準々決勝</td>
    </tr>
    <tr>
      <td>16:50</td>
      <td>休憩</td>
    </tr>
    <tr>
      <td>17:35</td>
      <td>SKILLER showcase</td>
    </tr>
    <tr>
      <td>17:50</td>
      <td>Tag Team 準決勝</td>
    </tr>
    <tr>
      <td>18:20</td>
      <td>Solo 準決勝</td>
    </tr>
    <tr>
      <td>18:45</td>
      <td>Tag Team 決勝</td>
    </tr>
    <tr>
      <td>19:15</td>
      <td>Solo 決勝</td>
    </tr>
    <tr>
      <td>19:40</td>
      <td>Solo, Tag Team, Loopstation セレモニー</td>
    </tr>
    <tr>
      <td>21:00</td>
      <td>終了</td>
    </tr>
  </tbody>
</table>

<h2>Day4</h2>
<h3>スペシャルSHOWCASE</h3>
<table>
  <thead>
    <tr>
    <th>時刻</th>
    <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>15:30</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>16:15</td>
      <td>スタート</td>
    </tr>
    <tr>
      <td>16:20</td>
      <td>FootboxG</td>
    </tr>
    <tr>
      <td>16:40</td>
      <td>Tom Thum</td>
    </tr>
    <tr>
      <td>17:10</td>
      <td>SARO + Rythmind</td>
    </tr>
    <tr>
      <td>17:50</td>
      <td>Gene shinozaki</td>
    </tr>
    <tr>
      <td>18:15</td>
      <td>休憩</td>
    </tr>
    <tr>
      <td>19:25</td>
      <td>シークレットゲスト（日本語版では 19:02 Berywamと記載あり）</td>
    </tr>
    <tr>
      <td>19:55</td>
      <td>Berywam（日本語版では 19:32 シークレットゲストと記載あり）</td>
    </tr>
    <tr>
      <td>20:30</td>
      <td>Beardyman</td>
    </tr>
    <tr>
      <td>21:10</td>
      <td>終了</td>
    </tr>
  </tbody>
</table>

{% endblock %}
