{% extends "base.html" %}
{% block title %}GBB {{ year }} これだけガイド - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/top{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/top{% endblock %}
{% block content %}

<h1>GBB {{ year }}</h1>
<p style="text-align: center; font-size: 60px; font-weight: bold;">中止</p>
<a href="https://swissbeatbox.com/newsfeed/grand-beatbox-battle-2022-cancelled/" target="_blank" rel="noopener noreferrer">
  ソースサイトはこちら
</a>

<p>GBB 2022は中止されました。Swissbeatboxは、中止の理由を「内部組織再編のため」としています。</p>
<div class="button-container">
  <a href="/2021/top"><button type="button">GBB 2021 これだけガイド</button></a>
  <a href="/2023/top"><button type="button">GBB 2023 これだけガイド</button></a>
</div>

{% endblock %}
