{% extends "base.html" %}
{% block title %}GBB 2021 ルール - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2021:ルール - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2021:ルール - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/2021/rule{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/2021/rule{% endblock %}
{% block content %}
<h1>GBB 2021 ルール</h1>
<p>
  Swissbeatbox公式サイトにて、GBB 2021で実施される部門・Wildcardのルールについて発表がありました。
</p>
<p>
  ソースサイト：<br>
  <a href="https://swissbeatbox.com/newsfeed/grand-beatbox-battle-2021-wildcard-competition/" target="_blank" rel="noopener noreferrer">
    GBB 2021 Wildcard Competition
  </a><br>
  <a href="https://swissbeatbox.com/newsfeed/gbb-20-wildcard-competition/comment-page-5/" target="_blank" rel="noopener noreferrer">
    GBB 2020 Wildcard Competition
  </a>
</p>

<div>
  <h2>目次</h2>

  <ol>
    <li>
      <a href="#p01">補足事項</a>
    </li>

    <li>
      <a href="#p02">開催部門一覧</a>
    </li>

    <li>
      <a href="#p03">出場シード権 獲得条件</a>
    </li>

    <li>
      <a href="#p04">GBB {{ year }} 本戦審査員一覧</a>
    </li>

    <li>
      <a href="#p05">GBB 2020 Wildcard審査員一覧</a>
    </li>

    <li>
      <a href="#p06">2021追加枠 Wildcard審査員一覧</a>
    </li>
  </ol>
</div>

<h2 id="p01">補足事項</h2>
<p>
  GBB 2021は、中止となったGBB 2020が延期された形で開催されました。そのため、GBB 2020出場権保持者は全員、GBB 2021出場権を付与されました。<br>
  これに加え、2021年に追加出場枠が設定されました。
</p>
<p>そのほか、GBB 2020を辞退した人でも特例でGBB 2021出場権を付与されるなど、例年とは違う対応が多く見られました。</p>

<h2 id="p02">開催部門一覧</h2>
<p>
  以下の表では、<br>"GBB 2020出場枠 (+2021年追加出場枠)"<br>という形式で示しています。
</p>
<table>
  <thead>
    <tr>
      <th style="width: 20%">部門名</th>
      <th>Wildcard</th>
      <th>シード権</th>
      <th style="width: 22%">計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td>9 (+7)</td>
      <td>7 (+1)</td>
      <td>16 (+8)</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td>6 (+3)</td>
      <td>1 (+1)</td>
      <td>7 (+3)</td>
    </tr>
    <tr>
      <td>Loopstation</td>
      <td>10 (+4)</td>
      <td>2 (+1)</td>
      <td>12 (+5)</td>
    </tr>
    <tr>
      <td>Tag Team Loopstation</td>
      <td>3 (+なし)</td>
      <td>-</td>
      <td>3 (+なし)</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td>3 (+1)</td>
      <td>-</td>
      <td>3 (+1)</td>
    </tr>
  </tbody>
</table>
<p>※Tag Team Loopstation, Crewは、GBB 2020初開催部門 (GBB 2020は中止されたため、実際にはGBB 2021初開催) だったため、シード権は無し</p>

<h2 id="p03" name="seeds">出場シード権 獲得条件</h2>
<p>
  Wildcardを勝ち上がる以外の方法でGBB出場権を得る方法（シード権）と、その該当者は以下の通りです。
</p>
{% for index in range(participants_list|length) %}
  {% set participants = participants_list[index] %}
  {% if index == 0 %}
    <h3>シード権 - GBB</h3>
  {% elif index == 1 %}
    <h3>シード権 - その他</h3>
  {% elif index == 2 %}
    <h3>シード権辞退者一覧</h3>
  {% endif %}
  {% if participants|length > 0 %}
    <table>
      <thead>
      <tr>
        <th style="width: 33%;">名前</th>
        <th style="width: 34%;">部門</th>
        <th style="width: 33%;">出場権</th>
      </tr>
      </thead>
      <tbody>
        {% for participant in participants %}
        <tr>
          <td>
            {% if participant.members != "" %}

            {% if participant.is_cancelled %}
              【辞退】<br><a href="javascript:void(0);" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';" style="text-decoration: line-through;">{{ participant.name }}</a>
              <div class="member-list" style="display: none;"><s style="font-size: 12px">{{ participant.members }}</s></div>
            {% else %}
              <a href="javascript:void(0);" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';">{{ participant.name }}</a>
              <div class="member-list" style="display: none;">{{ participant.members }}</div>
            {% endif %}

            {% else %}
              {% if participant.is_cancelled %}
                【辞退】<br><s>{{ participant.name }}</s>
              {% else %}
                {{ participant.name }}
              {% endif %}
            {% endif %}

          </td>
          <td>
            {% if participant.is_cancelled %}
              <s>{{ participant.category }}</s>
            {% else %}
              {{ participant.category }}
            {% endif %}
          </td>
          <td {% if participant.ticket_class|length > 10 %} style="font-size: 12px;" {% endif %}>
            {% if participant.is_cancelled %}
              <s>{{ participant.ticket_class }}</s>
            {% else %}
              {{ participant.ticket_class }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="button-container">
      <a href="/{{ year }}/participants"><button>Wildcard結果</button></a>
      <a href="/{{ year }}/participants"><button>出場者一覧</button></a>
    </div>
  {% endif %}
{% endfor %}
<p>シード権を持つ人が辞退した場合、原則として、該当シード権は消滅し、Wildcard下位からの繰り上げが行われます。</p>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB {{ year }} これだけガイド</button></a>
</div>

<h2 id="p04">本戦審査員一覧</h2>
<table>
  <thead>
    <tr>
      <th style="width: 50%">部門</th>
      <th style="width: 50%">審査員</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td style="font-size: 12px;">D-LOW<br>KENNY URBAN<br>ZEDE<br>REEPS ONE<br>PE4ENKATA</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td style="font-size: 12px;">D-LOW<br>KENNY URBAN<br>CHRIS CELIZ<br>BEATNESS<br>BMG</td >
    </tr>
    <tr>
      <td>Loopstation</td>
      <td style="font-size: 12px;">INKIE<br>THE PETEBOX<br>ZEDE<br>BEATNESS<br>SARO</td>
    </tr>
    <tr>
      <td>Tag Team Loopstation</td>
      <td style="font-size: 12px;">INKIE<br>THE PETEBOX<br>ZEDE<br>GENE SHINOZAKI<br>SARO</td >
    </tr>
    <tr>
      <td>Crew</td>
      <td style="font-size: 12px;">MC ZANI<br>KENNY URBAN<br>CHRIS CELIZ<br>BEATNESS<br>BEASTY</td >
    </tr>
    <tr>
      <td>7toSmoke</td>
      <td>審査員不明<br />例年発表なし</td>
    </tr>
  </tbody>
</table>

<h2 id="p05">GBB 2020 Wildcard審査員一覧</h2>
<table>
  <thead>
    <tr>
      <th style="width: 50%">部門</th>
      <th style="width: 50%">審査員</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td style="font-size: 12px;">PEPOUNI<br>SINJO<br>MADOX<br>CIACCOLO<br>KIM<br>SKILLER<br>ZEDE</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td style="font-size: 12px;">PEPOUNI<br>SINJO<br>MADOX<br>CIACCOLO<br>CHRIS CELIZ<br>BMG<br>NAPOM</td >
    </tr>
    <tr>
      <td>Loopstation</td>
      <td style="font-size: 12px;">PEPOUNI<br>SINJO<br>MADOX<br>CIACCOLO<br>TIONEB<br>INKIE<br>GENE SHINOZAKI</td >
    </tr>
    <tr>
      <td>Tag Team Loopstation</td>
      <td style="font-size: 12px;">PEPOUNI<br>SINJO<br>MADOX<br>CIACCOLO<br>TOM THUM<br>GENE SHINOZAKI<br>FAYA BRAZ</td >
    </tr>
    <tr>
      <td>Crew</td>
      <td style="font-size: 12px;">PEPOUNI<br>SINJO<br>MADOX<br>CIACCOLO<br>MC ZANI<br>TOM THUM<br>HOBBIT</td>
    </tr>
  </tbody>
</table>
<p>今となっては考えられませんが、2020年までは一部SBXメンバーが審査員を務めていました。</p>

<h2 id="p06">2021追加枠 Wildcard審査員一覧</h2>
<table>
  <thead>
    <tr>
      <th style="width: 50%">部門</th>
      <th style="width: 50%">審査員</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td style="font-size: 12px;">KENNY URBAN<br>PE4ENKATA<br>SKILLER<br>KIM<br>BALL-ZEE</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td style="font-size: 12px;">KENNY URBAN<br>CHRIS CELIZ<br>MC ZANI<br>HOBBIT<br>ZHANG ZE</td >
    </tr>
    <tr>
      <td>Loopstation</td>
      <td style="font-size: 12px;">TIONEB<br>INKIE<br>SARO<br>HOBBIT<br>PE4ENKATA</td>
    </tr>
    <tr>
      <td>Tag Team Loopstation</td>
      <td>2021追加枠無し</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td style="font-size: 12px;">KENNY URBAN<br>CHRIS CELIZ<br>MC ZANI<br >HOBBIT<br>ZHANG ZE</td >
    </tr>
  </tbody>
</table>

{% endblock %}
