{% extends "base.html" %}
{% block title %}GBB 2021 会場 & チケット - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2021:会場 & チケット - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2021:会場 & チケット - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/2021/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/2021/ticket{% endblock %}
{% block content %}
<h1>GBB 2021 会場 & チケット</h1>
<p>GBB 2021 会場: EXPO XXI WARSZAWA (ポーランド・ワルシャワ)<br>チケット販売は終了しました。</p>
{% endblock %}
