{% extends "base.html" %}
{% block title %}GBB {{ year }} {{ _('タイムスケジュール') }} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:{{ _('タイムスケジュール') }} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:{{ _('タイムスケジュール') }} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/time_schedule{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/time_schedule{% endblock %}
{% block content %}
<h1>GBB {{ year }} タイムスケジュール</h1>

<p>GBB 2021 開催中、有志の方のご協力により、実際のタイムスタンプを記録しました。</p>
<a href="https://drive.google.com/file/d/1b8VgRrqR--ePsVqJxva0jWMMvNcNGByy/view" target="_blank" rel="noopener noreferrer">GBB 2021 タイムスケジュール PDF版</a>
<p>なお、7toSmokeのタイムスタンプ記録はありません。</p>
<p>また、本来発表されていた予定時刻から、ほぼすべてのプログラムが2時間遅れでスタートしています。</p>

<div>
  <h2>目次</h2>

  <ol>
    <li>
      <a href="#day1">Day1 - 10/22</a>
    </li>

    <li>
      <a href="#day2">Day2 - 10/23</a>
    </li>

    <li>
      <a href="#day3">Day3 - 10/24</a>
    </li>

  </ol>
</div>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB {{ year }} これだけガイド</button></a>
</div>

<h2 id="day1">Day1 - 10/22</h2>
<table>
  <thead>
    <tr>
      <th>ワルシャワ時間</th>
      <th>日本時間</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19:41</td>
      <td>2:41</td>
      <td>Loopstation 予選</td>
    </tr>
    <tr>
      <td>21:47</td>
      <td>4:47</td>
      <td>RUNNERS UP SHOWCASE</td>
    </tr>
    <tr>
      <td>23:27</td>
      <td>6:27</td>
      <td>Solo 予選</td>
    </tr>
    <tr>
      <td>1:56</td>
      <td>8:56</td>
      <td>JUDGE SHOWCASE</td>
    </tr>
  </tbody>
</table>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB {{ year }} これだけガイド</button></a>
</div>

<h2 id="day2">Day2 - 10/23</h2>
<table>
  <thead>
    <tr>
      <th>ワルシャワ時間</th>
      <th>日本時間</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19:04</td>
      <td>2:04</td>
      <td>Tag Team Loopstation 予選</td>
    </tr>
    <tr>
      <td>19:41</td>
      <td>2:41</td>
      <td>Tag Team 予選</td>
    </tr>
    <tr>
      <td>21:47</td>
      <td>4:47</td>
      <td>SHOWCASE</td>
    </tr>
    <tr>
      <td>22:05</td>
      <td>5:05</td>
      <td>Loopstation 準々決勝</td>
    </tr>
    <tr>
      <td>23:35</td>
      <td>6:35</td>
      <td>Solo 決勝トーナメント1回戦</td>
    </tr>
    <tr>
      <td>1:01</td>
      <td>8:01</td>
      <td>SHOWCASE</td>
    </tr>
  </tbody>
</table>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB {{ year }} これだけガイド</button></a>
</div>

<h2 id="day3">Day3 - 10/24</h2>
<table>
  <thead>
    <tr>
      <th>ワルシャワ時間</th>
      <th>日本時間</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19:10</td>
      <td>2:10</td>
      <td>SHOWCASE</td>
    </tr>
    <tr>
      <td>19:39</td>
      <td>2:39</td>
      <td>Crew 予選</td>
    </tr>
    <tr>
      <td>20:30</td>
      <td>3:30</td>
      <td>Loopstation 準決勝・3位決定戦・決勝</td>
    </tr>
    <tr>
      <td>23:00</td>
      <td>6:00</td>
      <td>JUDGE SHOWCASE</td>
    </tr>
    <tr>
      <td>0:15</td>
      <td>7:15</td>
      <td>Tag Team 準決勝・3位決定戦・決勝</td>
    </tr>
    <tr>
      <td>1:03</td>
      <td>8:03</td>
      <td>Solo 準々決勝・準決勝・3位決定戦・決勝</td>
    </tr>
    <tr>
      <td>2:30</td>
      <td>9:30</td>
      <td>SHOWCASE</td>
    </tr>
  </tbody>
</table>

<p>GBB 2021 を現地観戦した当サイト管理人の記憶では、Day3 最後のSHOWCASEが終わり、優勝セレモニーも終わった後会場の外に出たところ、きれいな日の出が見えました。それと同時に、頭がくらくらしてきたことも覚えています。</p>
<p>ホテルに戻って時計を見ると、ワルシャワ時間の朝5時でした。</p>

{% endblock %}
