{% extends "base.html" %}
{% block title %}ビト森鑑賞会のお知らせ - GBBINFO-JPN{% endblock %}
{% block twitter_title %}ビト森鑑賞会のお知らせ - GBBINFO-JPN{% endblock %}
{% block og_title %}ビト森鑑賞会のお知らせ - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/bitomori{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/bitomori{% endblock %}
{% block content %}
<h1>ビト森鑑賞会</h1>

<p>日本最大級のBeatboxコミュニティDiscordサーバー「あつまれ！ビートボックスの森」略してビト森では、毎年GBBの鑑賞パーティーを開催しています。誰でも参加可能なので、お気軽にご参加ください！</p>
<div class="button-container">
    <a href="https://discord.gg/FhkXGTjyMC"><button>ビト森<br>Discordサーバー<br>参加はこちら</button></a>
</div>

<div style="text-align: center;">
    <a href="https://discord.gg/FhkXGTjyMC" ><img src="/static/images/button/bitomori.webp" alt="ビト森" style="margin-top: 10px; width: 80%;"/></a>
</div>

<h2>開催予定日</h2>
<table>
    <tr>
        <th style="width: 25%">日付</th>
        <th>内容</th>
    </tr>
    <tr>
        <td>3/11<br>22:00</td>
        <td>GBB {{ year }} Wildcard<br>ぜんぶ鑑賞会</td>
    </tr>
    <tr>
        <td>4/16<br>時刻未定</td>
        <td>Solo<br>Wildcard結果発表鑑賞会</td>
    </tr>
    <tr>
        <td>4/19<br>時刻未定</td>
        <td>Loopstation<br>Wildcard結果発表鑑賞会</td>
    </tr>
    <tr>
        <td>4/22<br>時刻未定</td>
        <td>Producer<br>Wildcard結果発表鑑賞会</td>
    </tr>
    <tr>
        <td>4/24<br>時刻未定</td>
        <td>Tag Team<br>Wildcard結果発表鑑賞会</td>
    </tr>
    <tr>
        <td>4/26<br>時刻未定</td>
        <td>Crew<br>Wildcard結果発表鑑賞会</td>
    </tr>
    <tr>
        <td>10/31<br>14:00</td>
        <td>GBB {{ year }}<br>Day1鑑賞会</td>
    </tr>
    <tr>
        <td>11/1<br>13:00</td>
        <td>GBB {{ year }}<br>Day2鑑賞会</td>
    </tr>
    <tr>
        <td>11/2<br>13:00</td>
        <td>GBB {{ year }}<br>Day3鑑賞会</td>
    </tr>
</table>
<p>チャット欄完備、聞き専参加も可能です。ぜひ下のボタンからお気軽にご参加ください！</p>

<div class="button-container">
    <a href="https://discord.gg/FhkXGTjyMC"><button>ビト森<br>Discordサーバー<br>参加はこちら</button></a>
</div>

<h2>ビト森とは</h2>
<p>「あつまれ！ビートボックスの森」略してビト森は、日本最大級のBeatboxコミュニティDiscordサーバーです。<br>BeatboxerやBeatboxファンが集まり、Beatboxに関する情報交換やイベント告知、Beatboxの練習やフィードバックを受けることができます。</p>

<div class="button-container">
    <a href="https://discord.gg/FhkXGTjyMC"><button>ビト森<br>Discordサーバー<br>参加はこちら</button></a>
</div>

<div style="text-align: center;">
    <a href="https://discord.gg/FhkXGTjyMC" ><img src="/static/images/button/bitomori.webp" alt="ビト森" style="margin-top: 10px; width: 80%;"/></a>
</div>

{% endblock %}
