{% extends "base.html" %}
{% block title %}GBB {{ year }} {{ _('会場&チケット') }} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:{{ _('会場&チケット') }} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:{{ _('会場&チケット') }} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block content %}
<h1>GBB {{ year }} {{ _('会場&チケット') }}</h1>

<p>{{ _('会場') }}：EX THEATER ROPPONGI</p>
<p>{{ _('チケット') }}：</p>
<div style="margin: 100px 0;"></div>

{% endblock %}
