{% extends "base.html" %}
{% block title %}GBB {{ year }} 会場&チケット - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:会場&チケット - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:会場&チケット - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block content %}
<h1>GBB {{ year }} 会場&チケット</h1>

<!-- TODO: 更新したらこの表示を消す -->
<script src="/static/scripts/popup.js"></script>
<script src="\static\scripts\last_edit.js"></script>
<div class="overlay" onclick="closePopup()"></div>
<div class="popup">
<p style="text-align: center; font-size: 36px; font-weight: bold;">×××<br>情報なし<br>×××</p>
<div style="text-align: center;">
  <p>{{ last_updated }}</p>
</div>
<p style="text-align: center;">お探しの情報は、公式発表がまだ無いため、当サイトのどこにも存在しません。<br>公式発表をお待ちください。</p>
  <div class="button-container">
    <button type="button" onclick="closePopup()">閉じる</button>
  </div>
</div>
<div style="text-align: center;">
  <p>{{ last_updated }}</p>
</div>
<!-- TODO: 更新したらこの表示を消す -->

<p>5000兆円ほしい</p>
<p>～発表次第更新～</p>
<div style="margin: 100px 0;"></div>

<h2>再販売について</h2>
<p>
  一度完売したチケットが、再度購入可能になることがあります。
  <br>原因としては、一度購入した方が、コンビニ決済などの手続きを失念したことによる、在庫の再販売などが考えられます。
  <br>イベントによって大きな差がありますが、一般的に、購入されたチケットの3~4割は再販売されることが知られています。
</p>

{% endblock %}
