{% extends "base.html" %}
{% block title %}GBB {{ year }} {{ _('会場&チケット') }} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:{{ _('会場&チケット') }} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:{{ _('会場&チケット') }} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block content %}
<h1>GBB {{ year }} {{ _('会場&チケット') }}</h1>

<p>{{ _('会場') }}：EX THEATER ROPPONGI</p>
<p>{{ _('チケット') }}：</p>

<h2>譲渡希望ツイート</h2>
<div class="post-it">
    譲渡に関するトラブルについて、当サイトは一切の責任を負いません。また、連絡の仲介も一切行いません。<br>
    購入を希望する場合、ご本人様へ直接DM or リプライにてご連絡ください。
</div>
<p>本番約1か月前に掲載開始予定</p>
<p>昨年度掲載実績: 約10件 (1週間前に募集開始)</p>

<div class="button-container">
    <a href="/{{year}}/rule"><button>GBB {{ year }} {{ _('ルール&審査員') }}</button></a>
    <a href="/{{year}}/participants"><button>{{ _('Wildcard結果') }} & {{ _('出場者') }}</button></a>
    <a href="/{{year}}/japan"><button>{{ _('日本代表') }}</button></a>
    <a href="/{{year}}/time_schedule"><button>{{ _('タイムスケジュール') }}</button></a>
</div>

{% endblock %}
