{% extends "base.html" %}
{% block title %}GBB {{ year }} 7toSmoke - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:7toSmoke - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:7toSmoke - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/top_7tosmoke{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/top_7tosmoke{% endblock %}
{% block content %}
<h1>GBB {{ year }} 7toSmoke</h1>
<div style="text-align: center;">
  <p>7toSmoke: 11/4 (月・祝)</p>
  <p>公式よりもわかりやすい！<br>GBB{{ year }} 7toSmoke 非公式情報サイト</p>
</div>

{% if is_latest_year is true %}
<form id="searchForm" class="search-form-1" action="/{{ year }}/search">
  <input type="text" name="question" id="question" placeholder="例：{{ example_questions[3] }}" required>
  <button type="submit" aria-label="検索"></button>
</form>
<div id="loading" class="loading"></div>
{% endif %}

<h2>これだけガイド</h2>

{% if is_latest_year %}
  <div style="text-align: center;">
    <p>{{ last_updated }}</p>
  </div>
{% endif %}

<div class="button-container">
  <a href="/others/7tosmoke"><button>7toSmokeとは</button></a>
  <a href="/others/7tosmoke"><button>7toSmokeルール&参加方法</button></a>
  <a href="/{{ year }}/ticket"><button>会場&チケット</button></a>
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/time_schedule?scroll=7tosmoke"><button>タイムスケジュール</button></a>
  <a href="/{{ year }}/stream"><button>当日配信</button></a>
</div>

<p>7toSmokeは、GBB本戦に比べて最新情報の公開が非常に遅い傾向にあり、そもそも情報が発表されないまま本番を迎えてしまったケースもあります。</p>
<p>諦めましょう。</p>

{% if is_latest_year %}
  <div class="button-container">
    <a href="/{{ year }}/top?scroll=contact"><button>お問い合わせ</button></a>
  </div>
{% endif %}
{% endblock %}
