{% extends "base.html" %}
{% block title %}GBB {{ year }} {{ _('Wildcard一覧') }} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:{{ _('Wildcard一覧') }} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:{{ _('Wildcard一覧') }} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/wildcards{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/wildcards{% endblock %}
{% block content %}
<h1>GBB {{ year }} {{ _('Wildcard一覧') }}</h1>

<p>{{ _('各部門の締め切り期日は、中央ヨーロッパ時刻を基準に表記しています。') }}</p>
<ul>
  <li>3/22{{ _('締め切り') }}</li>
  <li style="list-style: none; display: inline">
    <ul>
      <li>
        <a
          href="https://youtube.com/playlist?list=PL-lF9xAI7Ut0yUF8WY5IuX6o4xRKyMBAC&si=fTFD58Khv3Yo-cBZ"
          target="_blank"
          rel="noopener noreferrer"
          >Loopstation</a
        >
      </li>
      <li>
        <a
          href="https://youtube.com/playlist?list=PL-lF9xAI7Ut1qGFSr93tDkjt3bADme5YG&si=ThPVQLBzJjUgkXFR"
          target="_blank"
          rel="noopener noreferrer"
          >Solo</a
        >
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li>3/29{{ _('締め切り') }}</li>
  <li style="list-style: none; display: inline">
    <ul>
      <li>
        <a
          href="https://youtube.com/playlist?list=PL-lF9xAI7Ut0elAJ0t6yb6K1gxs5eTEZO&si=ffI74p6dFyw0oJRH"
          target="_blank"
          rel="noopener noreferrer"
          >Producer</a
        >
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li>4/5{{ _('締め切り') }}</li>
  <li style="list-style: none; display: inline">
    <ul>
      <li>
        <a
          href="https://youtube.com/playlist?list=PL-lF9xAI7Ut2lTXuqCIDXYT7noqSEHMfn&si=mlhsKNsVKRZ7_rU9"
          target="_blank"
          rel="noopener noreferrer"
          >Tag Team</a
        >
      </li>
      <li>
        <a
          href="https://youtube.com/playlist?list=PL-lF9xAI7Ut0zfjRaQ3Sd7X-dqdu7IEg2&si=5rEBEO3fntxPxtpU"
          target="_blank"
          rel="noopener noreferrer"
          >Crew</a
        >
      </li>
    </ul>
  </li>
</ul>

<div class="button-container">
  <a href="/{{ year }}/participants"><button>{{_('Wildcard結果')}} & {{_('出場者')}}</button></a>
  <a href="/{{ year }}/rule"><button>{{_('ルール')}} & {{_('審査員')}}</button></a>
</div>

<h2>{{ _('注意事項') }}</h2>
<p>
  {{ _('今回公開するWildcard一覧は、有志が作成した、非公式のものです。') }}
  <a href="https://twitter.com/_NURUYU_" target="_blank" title="https://twitter.com/_NURUYU_" rel="noopener noreferrer">{{ _('作成者：ぬる湯さん') }}</a>
</p>

<p>
  {{ _('すべて手作業で制作されたものであるため、重複や欠落がある可能性があります。') }}
</p>
<p>
  {{ _('また、この再生リストにある動画が必ずしもWildcardとして申請された動画であるとは限りません（毎年必ず出場者の手続きミスで失格者が出ます）。') }}
</p>

<h3>ビト森鑑賞会</h3>
<p>不定期でビト森Wildcard鑑賞会を開催中！</p>
<div class="button-container">
  <a href="/{{ year }}/bitomori"><button>ビト森鑑賞会</button></a>
</div>

<div class="button-container">
  <a href="/others/how_to_plan"><button>{{_('現地観戦計画のたてかた')}}</button></a>
  <a href="/{{ year }}/japan"><button>{{_('日本代表')}}</button></a>
</div>

{% endblock %}
