{% extends "base.html" %}
{% block title %}GBB {{ year }} {{ _('Wildcard一覧') }} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:{{ _('Wildcard一覧') }} - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:{{ _('Wildcard一覧') }} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/wildcards{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/wildcards{% endblock %}
{% block content %}
<h1>GBB {{ year }} {{ _('Wildcard一覧') }}</h1>

<!-- TODO: 更新したらこの表示を消す -->
{% include 'includes/popup_no_info.html' %}

<p>{{ _('～後日更新～') }}</p>

{% endblock %}
