.button-container {
    display: flex;
    /* フレックスボックスを使用して要素を横並びに配置 */
    flex-wrap: wrap;
    /* 要素が横幅を超えた場合に折り返す */
    justify-content: center;
    /* 要素を中央に配置 */
    gap: 4px;
    /* 要素間の間隔を4ピクセルに設定 */
}

.button-container a {
    flex: 1 1 calc(25% - 10px);
    /* 要素の幅を均等に分配し、余白を10ピクセルずつ設定 */
    min-width: 100px;
    /* 要素の最小幅を100ピクセルに設定 */
    color: inherit;
    /* 親要素からのテキスト色を継承 */
    text-decoration: none;
    /* テキストの下線を削除 */
    display: flex;
    /* フレックスボックスを使用して要素を横並びに配置 */
}

.button-container button {
    width: 100%;
    /* ボタンの幅を100%に設定 */
    padding: 10px;
    /* ボタンの内側の余白を10ピクセルに設定 */
    font-size: 24px;
    /* ボタンのフォントサイズを24ピクセルに設定 */
    box-sizing: border-box;
    /* ボタンの幅にボーダーボックスを含めます */
    color: rgb(0, 68, 204);
    /* ボタンのテキスト色を指定 */
    background-color: white;
    /* ボタンの背景色を白に設定 */
    border: 1px solid rgb(0, 68, 204);
    /* ボタンの境界線を設定 */
    border-radius: 6px;
    /* ボタンの角を丸く */
    cursor: pointer;
    /* マウスカーソルをポインターに変更 */
    transition: all 0.3s ease;
    /* ボタンの変化を0.3秒かけて滑らかに */
    height: 100%;
    /* ボタンの高さを100%に設定 */
    font-weight: bold;
    /* 太文字に */
}

.button-container a:hover button {
    color: white;
    /* ホバー時のテキスト色を白に設定 */
    background-color: rgb(240, 99, 47);
    /* ホバー時の背景色を指定 */
    border-color: white;
    /* ホバー時の境界線の色を白に設定 */
}

.button-container a:active button {
    color: rgb(0, 68, 204);
    /* アクティブ時のテキスト色を指定 */
    background-color: white;
    /* アクティブ時の背景色を白に設定 */
    border-color: rgb(0, 68, 204);
    /* アクティブ時の境界線の色を指定 */
}

@media (max-width: 768px) {
    .button-container a {
        flex: 1 1 calc(50% - 10px);
        /* レスポンシブデザイン時の要素の幅を均等に分配し、余白を10ピクセルずつ設定 */
    }

    .button-container button {
        font-size: 18px;
        /* レスポンシブデザイン時のボタンのフォントサイズを16ピクセルに設定 */
    }
}

.button-container button:disabled {
    background-color: rgba(255, 255, 255, 0.5);
    /* ボタンの背景色に透明度を50%に設定 */
    pointer-events: none;
    /* クリックイベントを無効にする */
    color: rgba(0, 68, 204, 0.5);
    /* 文字色にも透明度を50%に設定 */
    border-color: rgba(0, 68, 204, 0.5);
    /* 境界線の色を透明度50%に設定 */
}

.button-container a:hover button:disabled {
    color: rgba(255, 255, 255, 0.5);
    /* ホバー時のテキスト色を透明度50%の白に設定 */
    background-color: rgba(240, 99, 47, 0.5);
    /* ホバー時の背景色を透明度50%に指定 */
    border-color: rgba(255, 255, 255, 0.5);
    /* ホバー時の境界線の色を透明度50%の白に設定 */
}

.participants_filter {
    justify-content: center;
    /* 要素を中央に配置 */
    gap: 10px;
    /* 要素間の間隔を10ピクセルに設定 */
    margin-top: 10px;
    /* 上部の余白を10ピクセルに設定 */
    font-size: 30px;
    /* フォントサイズを20ピクセルに設定 */
    background-color: white;
    /* 背景色を指定 */
    color: rgb(0, 68, 204);
    /* テキストの色を白に設定 */
    border: none;
    /* 境界線を削除 */
    border-radius: 10px;
    /* 角を丸く */
}

.participants_filter:hover {
    color: white;
    /* テキストの色を指定 */
    background-color: rgb(240, 99, 47);
    /* 背景色を指定 */
}

.search-form-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #f0632f;
    border-radius: 25px;
}

.search-form-1 input {
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-1 input::placeholder{
    color: #222222;
}

.search-form-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #f0632f;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.search-form-1 button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}
