.button-container {
    display: flex;
    /* フレックスボックスを使用して要素を横並びに配置 */
    flex-wrap: wrap;
    /* 要素が横幅を超えた場合に折り返す */
    justify-content: center;
    /* 要素を中央に配置 */
    gap: 4px;
    /* 要素間の間隔を4ピクセルに設定 */
}

.button-container a {
    flex: 1 1 calc(33.33% - 10px);
    /* 要素の幅を均等に分配し、余白を10ピクセルずつ設定 */
    min-width: 100px;
    /* 要素の最小幅を100ピクセルに設定 */
    color: inherit;
    /* 親要素からのテキスト色を継承 */
    text-decoration: none;
    /* テキストの下線を削除 */
    display: flex;
    /* フレックスボックスを使用して要素を横並びに配置 */
}

.button-container button {
    width: 100%;
    /* ボタンの幅を100%に設定 */
    padding: 10px;
    /* ボタンの内側の余白を10ピクセルに設定 */
    font-size: 24px;
    /* ボタンのフォントサイズを24ピクセルに設定 */
    box-sizing: border-box;
    /* ボタンの幅にボーダーボックスを含めます */
    color: rgb(0, 68, 204);
    /* ボタンのテキスト色を指定 */
    background-color: white;
    /* ボタンの背景色を白に設定 */
    border: 1px solid rgb(0, 68, 204);
    /* ボタンの境界線を設定 */
    border-radius: 6px;
    /* ボタンの角を丸く */
    cursor: pointer;
    /* マウスカーソルをポインターに変更 */
    transition: all 0.3s ease;
    /* ボタンの変化を0.3秒かけて滑らかに */
    height: 100%;
    /* ボタンの高さを100%に設定 */
    font-weight: bold;
    /* 太文字に */
}

.button-container a:hover button {
    color: white;
    /* ホバー時のテキスト色を白に設定 */
    background-color: rgb(240, 99, 47);
    /* ホバー時の背景色を指定 */
    border-color: white;
    /* ホバー時の境界線の色を白に設定 */
}

.button-container a:active button {
    color: rgb(0, 68, 204);
    /* アクティブ時のテキスト色を指定 */
    background-color: white;
    /* アクティブ時の背景色を白に設定 */
    border-color: rgb(0, 68, 204);
    /* アクティブ時の境界線の色を指定 */
}

@media (max-width: 768px) {
    .button-container a {
        flex: 1 1 calc(50% - 10px);
        /* レスポンシブデザイン時の要素の幅を均等に分配し、余白を10ピクセルずつ設定 */
    }

    .button-container button {
        font-size: 16px;
        /* レスポンシブデザイン時のボタンのフォントサイズを16ピクセルに設定 */
    }
}

.participants_filter {
    justify-content: center;
    /* 要素を中央に配置 */
    gap: 10px;
    /* 要素間の間隔を10ピクセルに設定 */
    margin-top: 10px;
    /* 上部の余白を10ピクセルに設定 */
    font-size: 30px;
    /* フォントサイズを20ピクセルに設定 */
    background-color: white;
    /* 背景色を指定 */
    color: rgb(0, 68, 204);
    /* テキストの色を白に設定 */
    border: none;
    /* 境界線を削除 */
    border-radius: 10px;
    /* 角を丸く */
}

.participants_filter:hover {
    color: white;
    /* テキストの色を指定 */
    background-color: rgb(240, 99, 47);
    /* 背景色を指定 */
}
