.past_gbb_wrap {
    position: relative;
    width: auto;
    display: inline-block;
}

.past_gbb_lists {
    display: none;
    position: absolute;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 10;
    width: 100%;
}

.past_gbb_lists li {
    color: rgb(0, 68, 204);
    padding: 2px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

.past_gbb_wrap:hover .past_gbb_lists {
    display: block;
}

.past_gbb_lists li a:hover {
    color: white;
}

.participants_form {
    margin: 0 auto;
    text-align: center;
    font-family: Noto sans JP;
}

.participants_select {
    width: fit-content;
    background-color: white;
    color: rgb(0, 68, 204);
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: Noto sans JP;
}

.participants_select:focus {
    outline: none;
    background-color: rgb(240, 99, 47);
    color: white;
    font-family: Noto sans JP;
}

.member-list {
    font-size: 12px;
    font-family: Noto sans JP;
}

.headerDropdown {
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: block;
    z-index: 1;
    color: white;
    background-color: rgb(240, 99, 47);
    font-size: 22px;
    font-weight: bold;
    font-family: Noto sans JP;
    text-align: center;
    padding: 3px;
    border: none;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/static/images/icon-arrow.webp');
    background-repeat: no-repeat;
    background-position: right 1px center;
    background-size: 40px 40px;
}
