.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-radius: 6px;
    z-index: 5;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.hamburger-menu p {
    font-size: 12px;
    color: rgb(0, 68, 204);
    margin: 0px;
    margin-top: 2px;
}

.hamburger-line {
    width: 70%;
    height: 4px;
    background-color: rgb(0, 68, 204);
    margin-bottom: 6px;
}

.menu {
    display: none;
    position: fixed;
    bottom: 115px;
    right: 20px;
    background: linear-gradient(to left, rgb(240, 99, 47), rgb(240, 99, 47), rgb(252, 167, 75));
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 6;
    width: 70%;
    min-width: 695px;
    height: 50%;
    min-height: 240px;
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.menu p {
    margin-top: 12px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 24px;
    color: white;
}

@media (max-width: 768px) {
    .menu {
        min-width: 260px;
        width: 260px;
        max-height: none;
    }
}

.menu li {
    padding: 4px;
}

.past_gbb_menu li {
    padding: 0px;
}
