#loading {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 固定位置に配置 */
    top: 50%; /* 縦中央に配置 */
    left: 50%; /* 横中央に配置 */
    transform: translate(-50%, -50%); /* 中央に配置するための変形 */
    background-color: rgba(255, 255, 255, 0.7); /* 背景色を半透明の白に設定 */
    padding: 30px; /* 内側の余白を設定 */
    z-index: 10; /* 他の要素の上に表示 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 影を追加 */
    text-align: center; /* テキストを中央に配置 */
    width: 300px; /* 幅を設定 */
    /* 検索中のテキストを表示 */
    &::after {
        content: ''; /* サークルの表示 */
        border: 5px solid rgb(240, 99, 47); /* 上部の色 */
        border-top: 5px solid rgb(255, 255, 255); /* 外側の色 */
        border-radius: 50%; /* 丸くする */
        width: 80px; /* 幅を設定 */
        height: 80px; /* 高さを設定 */
        animation: spin 1s linear infinite; /* 回転アニメーション */
        display: inline-block; /* インラインブロック要素として表示 */
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* 初期状態 */
    100% { transform: rotate(360deg); } /* 360度回転 */
}

.search-form-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #f0632f;
    border-radius: 25px;
    font-family: Noto sans JP;
    /* フォントを指定 */
}

.search-form-1 input {
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
    font-family: Noto sans JP;
    /* フォントを指定 */
}

.search-form-1 input::placeholder{
    color: #464646;
    font-family: Noto sans JP;
    /* フォントを指定 */
}

.search-form-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #f0632f;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.search-form-1 button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}
