table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.4)
}

table th {
    border-bottom: solid 3px #F0632F;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.4);
}

table td {
    border-bottom: solid 2px rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 10px 0;
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4)
}
