table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(34, 34, 34);
}

table th {
    border-bottom: solid 4px rgb(240, 99, 47);
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: bold;
}

table td {
    text-align: center;
    padding: 10px 0;
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}

.winner {
    color: rgb(240, 99, 47);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
}

.post-it {
    padding: 0.5em 1em;
    margin: 20px 0;
    font-size: 16px;
    color: rgb(34, 34, 34);
    background: rgba(255, 255, 255, 0.5);
    border-left: solid 25px rgb(252, 167, 75);
}

.chart {
    max-height: 40vh;
    background-color: rgba(255, 255, 255, 0.3);
}
