{% extends "base.html" %}
{% block title %}GBB現地観戦計画のたてかた{% endblock %}
{% block twitter_title %}GBB現地観戦計画のたてかた{% endblock %}
{% block og_title %}GBB現地観戦計画のたてかた{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/others/how_to_plan{% endblock %}

{% block content %}
<h1>GBB 現地観戦計画のたてかた</h1>

<p>GBB21を現地観戦した管理人が、GBBに向けて計画を立てる上で知っておくべきことを解説します。</p>
<p>過去日本で開催されたBeatboxイベントとGBBは、規模が桁違いです。これまで何度もイベントに参加したことがある方でも、ぜひ"GBB対策"を考えてみてください。</p>
<p>※今回はGBB23を前提に解説していますが、いつのGBBであっても基本的に気を付けるべきことは変わりません。</p>
<p style="text-align: center;"><strong>2024/1/10追記</strong></p>
<p style="text-align: center;"><strong>今後、このページの更新は行いません。</strong></p>
<p style="text-align: center;"><strong>古い情報が含まれる可能性があるため、必ず最新情報をご確認ください。</strong></p>

<h2>目次</h2>

<ol>
    <li>
        <a href="#p01">はじめに</a>
    </li>

    <li>
        <a href="#p02">交通手段</a>
    </li>

    <li>
        <a href="#p03">ホテル</a>
    </li>

    <li>
        <a href="#p04">当日の行動</a>
    </li>

    <li>
        <a href="#p05">持ち物</a>
    </li>
</ol>

<a id="p01" name="p01"></a>

<h2>はじめに</h2>

<p>この記事で示す情報は、以下のように区分けをして「正確な情報」「個人的意見」がはっきりわかるよう示します。</p>
<ul>
<li>GBB21での、管理人の実際の経験</li>
<li>100%事実と言い切れるもの（Swissbeatboxからの公式情報など）</li>
<li>管理人の経験に基づく考察</li>
</ul>
<p>誰かに情報を伝える際、不正確な情報をあたかも正しい情報であるかのように伝える行為は、デマを生む原因になるのでおやめください。</p>
<br>
<p>また、この記事の読者は、日本国内に居住する人を前提としています。</p>

<a id="p02" name="p02"></a>

<h2>交通手段</h2>

<ul>
<li><strong>GBB21での経験<br /></strong>私はポーランド到着日がGBB21 Day1当日だったため、空港からホテルへ向かい荷物を置いた後、すぐ会場に向かわなければなりませんでした。<br /> そのため十分な休憩をとれなかった上、GBB21会場では食べ物の持ち込みは禁止、会場内での食べ物の販売はほぼ無し（ポテトチップスなどのスナックのみ販売）だったため、体力的に厳しい状況でした。</li>
</ul>
<ul>
<li><strong>管理人の考察<br /></strong>遠方の方は飛行機、関東の方は電車やバスで会場へ向かうことになると思います。移動手段によっては会場到着前に体力を消耗することが考えられます。<br /> 可能であれば前日、もしくは当日午前中に会場付近に到着し、どこかで休憩をとることをおすすめします。</li>
</ul>
<ul>
<li><strong>フライトの予約<br /></strong>（ステマじゃないよ）<br /> 格安航空会社が毎月のように国内線セールを行っています。<br /> 遠方から来場される方は、各社ホームページを確認するなど、ぜひ活用してみてください。</li>
</ul>
<blockquote>
<ul>
<li style="text-align: left;"><a href="https://www.flypeach.com/" target="_blank" title="https://www.flypeach.com/">Peach ホームページ</a></li>
<li style="text-align: left;"><a href="https://www.jetstar.com/jp/ja/home" target="_blank" title="https://www.jetstar.com/jp/ja/home">Jetstar Japan ホームページ</a></li>
<li style="text-align: left;"><a href="https://jp.ch.com/" target="_blank" title="https://jp.ch.com/">Spring Japan ホームページ</a></li>
</ul>
</blockquote>

<a id="p03" name="p03"></a>

<h2>ホテル</h2>

<ul>
<li><strong>GBB21の時のswissbeatboxの対応<br /></strong>swissbeatboxは、GBB21のチケットを持っている方に対し、GBB21オフィシャルホテルである"The Westin Warsaw"の予約を特別価格で受け付けました。<br /> <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1613047055411&amp;key=GRP&amp;app=resvlink" target="_blank" title="https://www.marriott.com/event-reservations/reservation-link.mi?id=1613047055411&amp;key=GRP&amp;app=resvlink">詳細はこちら</a>（当然ですが現在は受付終了しています）</li>
</ul>
<ul>
<li><strong>GBB23の場合<br /></strong>7月15日にそれっぽい情報が出ました。<a href="#p03-2">詳細はこちら</a></li>
</ul>
<ul>
<li><strong>管理人の考察<br /></strong>今後オフィシャルホテルの情報が公開された場合は利用するのも１つの選択肢です。<br /> 利用しない場合、ご自身でホテルを選ぶことになります。<br /> その際注意するべきなのは、終電時間です。</li>
</ul>

<a href="https://drive.google.com/file/d/1b8VgRrqR--ePsVqJxva0jWMMvNcNGByy/view" target="_blank">GBB21 タイムスケジュール</a>

<p>都心で移動する場合、目的地によりますが0時～1時には電車に乗らないと終電に間に合わない可能性があります。</p>
<p>しかしながら、GBB21のタイムスケジュールを確認すると、すべて深夜か早朝に終了しており、終電に間に合わない可能性があります。</p>
<blockquote>
<ol>
<li>会場から徒歩圏内、なるべく近いホテルを選ぶ</li>
<li>終電時刻を事前に調べて、それまでに会場を出る</li>
<li>タクシーを使う</li>
</ol>
</blockquote>
<p>が選択肢になりますが、そもそも会場付近のホテルが非常に少なく高価なため、1を選ぶことは非常に困難です。</p>
<br>
<p>3はお金がかかってしまうのは当然ですが、時間を忘れて楽しんだあまり終電を逃してしまった... なんてことも起こりかねません。</p>
<p>時間の管理が必要であること、これが事前に計画を立てることをおすすめする理由の一つです。</p>

<a id="p04" name="p04"></a>

<h2>当日の行動</h2>

<p>以下はすべて管理人の考察です。</p>
<ul>
<li><strong>GBBは「海外の大会」<br /></strong>いくらGBB23が日本開催とはいえど、GBBは海外から多くのBeatboxファンが来場する国際大会です。実際、海外限定チケットの販売が行われており、日本人が大多数になるとは考えにくいです。</li>
</ul>
<table width="100%" height="100%" cellspacing="0" cellpadding="3" border="0">
<tbody>
<tr>
<td style="border: 1px solid #00ffff; background-color: rgba(255, 255, 255, 0.5);">
<p>GBB21 Day1開始前</p>
<p>管理人がGBB21会場の入り口にて、入場待ちをしていた時のことです。</p>
<br>
<p>D-low・その友達と思われる方々が入り口まで歩いてきたと思ったら、突然D-lowが</p>
<br>
<p style="text-align: center;"><strong>「イェーーーーーーーーイ！！！！！！！！！」</strong></p>
<br>
<p>と雄叫びを上げ始めました。サンシャイン池崎みたいな...</p>
<p>それを見ていた周りの方も呼応するかのように、大声で叫び始めました。</p>
<br>
<p>こんなこと日本でやる人、私は見たことないです。</p>
</td>
</tr>
</tbody>
</table>

<p>以上のように、海外の方がいる会場内は、日本の常識が通用しない場所になるかもしれない、という考えを持っておいたほうがいいと思います。</p>
<br>
<p>もちろん日本のイベントと同様ルール・マナーを守ることは大切ですが、海外から来場した方が意図せず日本における「マナー違反」をしてしまう、などということは起こりうる話です。</p>
<p>逆もまた然りで、自分が知らず知らずのうちに、海外の方々にとって失礼なジェスチャーをとってしまった、失礼な言動をしてしまった、というエピソードは、グローバルな場所ではよくある話です。<br /> <br /> 例：ギリシャにおいて、相手に手のひらを見せる行為は、日本における中指を立てる行為と同等で、極めて失礼な行為とされています。日本国内でこのようなことを気にする必要はありませんが、何も知らない日本人がギリシャでこの行為を行いトラブルが発生する、という状況は容易に想像できます。</p>
<br>
<p>もしあなたに海外渡航経験がないなら、「カルチャーショック」（文化の違いに驚くこと）に遭うかもしれません。</p>
<p>海外旅行に行く、と考えても差し支えないです。「海外旅行に行く際に気を付けなければならないこと」を事前に調べておくことをおすすめします。</p>
<br>
<p>また、あなたの近くにいる人が仮に外国人のような見た目や肌の色をしていても、実は日本語を話す方である可能性や、日本人に見える人が実は外国人だった、ということも起こり得ます。見た目で人を判断してはいけないとはよく言いますが、あくまでもグローバルな場所に行くという意識を忘れてはいけません。</p>
<br>
<ul>
<li><strong>そもそも最初から最後まで会場に居ることは</strong><span style="color: #ff0000;"><strong>不可能<br /></strong></span>GBB21の、実際のタイムスケジュールを再掲します。</li>
</ul>

<a href="https://drive.google.com/file/d/1b8VgRrqR--ePsVqJxva0jWMMvNcNGByy/view" target="_blank">GBB21 タイムスケジュール</a>

<p>これを見るとわかりますが、1日あたり、なんと７時間もの間ずっと開催されています。</p>
<p>（参考：Beat X Fes 2022は４時間）</p>
<p>そしてこれを4日間も開催します。</p>
<p>７時間ずっと立ちっぱなしで大騒ぎできる人はなかなかいません。<span style="color: #ff0000;"><strong>すべての発表を見るのは不可能です。</strong></span></p>
<p>6つあるカテゴリーのうち、どれを見るのか？どれを諦めるのか？事前に決めておく必要があります。</p>

<table width="100%" height="100%" cellspacing="0" cellpadding="3" border="0">
<tbody>
<tr>
<td style="border: 1px solid #00ffff; background-color: rgba(255, 255, 255, 0.5);">
<p>「目の前の発表に見とれて体力を使い果たし、お目当てのアーティストを見逃してしまった...」</p>
<p>残念ながらこのような経験をしてしまう人が<strong><span style="color: #ff0000;">必ず現れてしまいます。</span></strong></p>
<br>
<p>無理をしすぎて体調を崩してしまい、1日丸ごと見逃してしまう。</p>
<p>これは誰にとっても絶対に避けたい最悪のシナリオです。</p>
</td>
</tr>
</tbody>
</table>

<p>管理人はGBB21の際、Day1のSolo eliminationを一切見ずにホテルへ帰り、翌日以降すべての発表を楽しむことができました。</p>
<p>あらかじめどのカテゴリーを観るのか、よく考えておいたほうが良いと思います。</p>
<br>
<ul>
<li><strong>開場も遅れるかも<br /></strong>一度始まったら７時間ぶっ通しで開催されますが、実は開場するまでが非常に長いです。<br /> GBB21の場合、開場時間が事前にアナウンスされていましたが、それも２時間遅れました。<br /> つまり、もし最初から最後まで会場で観る場合は、1日に９時間もの間会場にいる可能性があります。<br /> それを４日間連続で行います。</li>
</ul>
<ul>
<li><strong>7toSmokeについて<br /></strong>GBBの現地観戦は非常にハードであることをすでに説明しましたが、これに加え7toSmokeも開催されます。<br />7toSmokeの前、GBB本戦終了時点で、すでに体力が限界を迎えていてもおかしくありません。<br /> 両方見に行くんだ！という方、本当にそれができるか、やるなら体力管理をどうするか、非常に難しい判断を迫られます。<br /> 両方見に行くことを諦めて、インターネットで他人にチケットを譲渡する人も見たことがあります。これも手段の一つだと思います。</li>
</ul>

<h2>全て観るのは、不可能です。</h2>

<table width="100%" height="100%" cellspacing="0" cellpadding="3" border="0">
<tbody>
<tr>
<td style="border: 1px solid #00ffff; background-color: rgba(255, 255, 255, 0.5);">
<p>ここでお伝えしたいことは、GBBは誰も経験したことのない、<strong>まったく別次元のイベント</strong>であるということです。普段のイベントで、1日限りのイベントであれば、体力を考えて行動する人はまずいないでしょう。</p>
<br>
<p>しかし、4日も開催されるBeatboxイベントは世界の中でも稀です。</p>
<p><br /> GBBを最大限楽しむために、その場で行動を決めるのではなく、ぜひあらかじめ計画を立てておいてください。今までイベントに行ったことのない方にとっては、体力的に非常に厳しいイベントになります。</p>
<p>おそらく、体調を崩す人が出てきます。</p>
<br>
<p style="text-align: center;"><strong>GBBは、誰でも行けるイベントですが、気軽に行けるイベントではありません。</strong></p>
</td>
</tr>
</tbody>
</table>

<a id="p05" name="p05"></a>

<h2>持ち物</h2>

<p>ここでいう持ち物は、GBB21の際に管理人が持って行ってよかったと思ったもの、絶対に必要だと思ったものをピックアップしています。</p>
<p>GBB23、そのほかのGBBにおいて、これらが必ず役に立つとは限りません。</p>
<ol>
<li>リストバンド</li>
<li>ペットボトルキャップ</li>
<li>モバイルバッテリー</li>
<li>小さめのバッグで行く（大きいリュック等はあまりおすすめできません）</li>
</ol>
<ul>
<li>1. リストバンドについて<br /> これは初回入場時に、係員から配られるものです。<br /> GBB21で配られたものはこちらです。（管理人の私物です）</li>
</ul>

<img alt="GBBリストバンド" height="100%" src="https://live.staticflickr.com/65535/53462881404_d7cc317ac7_o.jpg" style="display: block; margin: auto;" width="100%" />

<p>なお、以下のツイートからわかるように、リストバンドは毎年違うデザインになっているようです。</p>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr" xml:lang="ja">
        懐かしい <a href="https://t.co/Z8moH4Rs5L">pic.twitter.com/Z8moH4Rs5L</a>
    </p>
    — T2 (@T2BBX) <a href="https://twitter.com/T2BBX/status/1515212160523448322?ref_src=twsrc%5Etfw">April 16, 2022</a>
</blockquote>
<script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>初回入場時に渡されるこのリストバンドは、毎日<span style="color: #ff0000;"><strong>入場する際に必ず必要</strong></span>になります。</p>
<p>GBB21で、管理人の知り合いがリストバンドをホテルに忘れた際、係員に伝えたところ「ホテルに戻って取ってきなさい」と言われました。紛失した場合の対応はわかりませんが、<strong>最悪の場合入場を拒否される可能性があります。</strong></p>
<p>紛失を許すと不正入場できてしまうので、仕方ない措置でしょう。</p>

<blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr" xml:lang="ja">
        GBB21 2日目のとき、さくらがリストバンドをホテルに忘れて、入口にいた係員に言ったら「リストバンド無いと入場はできない。ホテルに行ってとってきて」って言われたのを思い出した<br />
        <br />
        たしかに忘れた～を許すと不正入場まかり通っちゃうから理にかなってるけど、結構罠だなあれ
    </p>
    — tari3210.srt (@TARI55956986) <a href="https://twitter.com/TARI55956986/status/1700023328902377752?ref_src=twsrc%5Etfw">September 8, 2023</a>
</blockquote>
<script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>
<li value="2">ペットボトルのキャップについて<br /> 実はGBB21では、会場内に飲食物の持ち込みは一切禁止で、ペットボトルの水を会場内売店で購入してもキャップを取られた状態で渡されました。<br /> 対策として、多くの人がペットボトルキャップを持ち込んでいました。<br /> GBB23では飲食物の持ち込みが禁止されるかはわかりませんが、持っていく価値はあると思います。<br /> なお衛生面には注意が必要です。</li>
</ol>
<ol>
<li value="4">小さめのバッグについて<br /> GBBが体力戦になることは、ご説明したとおりです。少しでも荷物を軽くすることも、体力を節約する方法の一つです。<br /> また、有料ですがコインロッカーを活用するとより良いと思います。</li>
</ol>

{% endblock %}
