{% extends "base.html" %}
{% block title %}過去のGBB情報対応状況{% endblock %}
{% block twitter_title %}過去のGBB情報対応状況{% endblock %}
{% block og_title %}過去のGBB情報対応状況{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/others/past_info{% endblock %}

{% block content %}
<h1>過去のGBB情報対応状況</h1>
<p>GBBINFO-JPNは、<a href="/others/about">2021年10月に初公開、2024年6月に現在の開発体制に移行しました。</a><br>それ以前に開催されたGBBの情報の対応状況は以下の通りです。</p>
<table>
    <thead>
        <tr>
            <th style="width: 25%;">年度</th>
            <th style="width: 15%;">状況</th>
            <th>説明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2024<br>それ以降</td>
            <td>〇</td>
            <td></td>
        </tr>
        <tr>
            <td>2023</td>
            <td>△</td>
            <td>旧開発体制下で作成されたものをそのまま移行したため、一部レイアウトが意図しない表示になっている場合があります。</td>
        </tr>
        <tr>
            <td>2022</td>
            <td>×</td>
            <td>中止</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>〇</td>
            <td>2025年1月公開</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>〇</td>
            <td>本来開催される予定だったGBB 2020は中止されているため、代わりにGBB 2020 Onlineの情報を掲載しています。</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>〇</td>
            <td>2025年1月公開</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>〇</td>
            <td>2025年1月公開</td>
        </tr>
        <tr>
            <td>2017</td>
            <td>〇</td>
            <td>2025年1月公開</td>
        </tr>
        <tr>
            <td>2016<br>それ以前</td>
            <td>×</td>
            <td>対応予定なし</td>
        </tr>
    </tbody>
</table>
{% endblock %}
