{% extends "base.html" %}
{% block title %}{{ _('各ページの翻訳提供について') }} - GBBINFO-JPN{% endblock %}
{% block twitter_title %}{{ _('各ページの翻訳提供について') }} - GBBINFO-JPN{% endblock %}
{% block og_title %}{{ _('各ページの翻訳提供について') }} - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/others/translation{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/others/translation{% endblock %}

{% block content %}
<h1>{{ _('各ページの翻訳提供について') }}</h1>
<p>{{ _('GBBINFO-JPNは、一部を除き、各ページの翻訳をAI Geminiを用いて提供しています。') }}</p>
<p>{{ _('AIによる翻訳のため、誤りがある可能性があります。') }}</p>
<p>{{ _('翻訳を提供しているページは、以下の通りです。') }}</p>

<ul>
    <li>{{ _('対応年度：2024年以降') }}
        <ul>
            <li>{{ _('Wildcard結果 & 出場者') }}</li>
            <li>{{ _('ルール & 審査員') }}</li>
            <li>{{ _('タイムスケジュール') }}</li>
            <li>{{ _('日本代表') }}</li>
            <li>{{ _('会場 & チケット') }}</li>
            <li>{{ _('当日配信') }}</li>
            <li>{{ _('大会結果') }}</li>
            <li>{{ _('Wildcard一覧') }}</li>
        </ul>
    </li>
</ul>

<p>{{ _('なお、翻訳対応言語は、アクセス状況に応じて随時追加予定です。') }}</p>

<p>{{ _('翻訳を提供していないページは、原文である日本語で表示されます。') }}</p>

{% endblock %}
