{% extends "base.html" %}
{% block title %}当サイトURL変更のお知らせ{% endblock %}
{% block twitter_title %}当サイトURL変更のお知らせ{% endblock %}
{% block og_title %}当サイトURL変更のお知らせ{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/others/url_change{% endblock %}

{% block content %}
<h1>URL変更のお知らせ</h1>
<p>当サイトのURLが変更されました。</p>
<p>旧URL：https://gbbinfo-jpn.jimdofree.com/<br><strong>新URL：<a href="/">https://gbbinfo-jpn.onrender.com/</a></strong></p>
<p>お気に入りやブックマークなどに登録されている方は、お手数ですが新URLへの変更をお願いいたします。</p>

{% endblock %}
