{% extends "base.html" %} {% block title %}Wildcard結果&出場者 - {{ super() }}{%
endblock %} {% block content %}
<h1>GBB 2023 Wildcard結果&出場者</h1>
<p>このページでは、Wildcardの結果発表と出場者一覧を分けて掲載しています。</p>
<h2>目次</h2>
<p>目次の番号1~8（Wildcard結果）は、発表予定順になっています。</p>
<details open="">
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">Wildcard結果順位</u></strong
    >
  </summary>
  <ol>
    <li value="1">
      <a href="#p01">Tag Team部門</a>
    </li>

    <li>
      <a href="#p02">Loopstation部門（第1ラウンド）</a>
    </li>

    <li>
      <a href="#p03">Solo部門（第1ラウンド）</a>
    </li>

    <li>
      <a href="#p04">U18（18歳未満）部門</a>
    </li>

    <li>
      <a href="#p05">Producer showcase部門</a>
    </li>

    <li>
      <a href="#p06">Crew部門</a>
    </li>

    <li>
      <a href="#p07">Loopstation部門（第2ラウンド・合計）</a>
    </li>

    <li>
      <a href="#p08">Solo部門（第2ラウンド・合計）</a>
    </li>
  </ol>
</details>
<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">出場者一覧</u></strong
    >
  </summary>
  <ol>
    <li value="9">
      <a href="#p09">Solo部門</a>
    </li>

    <li>
      <a href="#p10">Tag Team部門</a>
    </li>

    <li>
      <a href="#p11">Loopstation部門</a>
    </li>

    <li>
      <a href="#p12">Producer showcase部門</a>
    </li>

    <li>
      <a href="#p13">Crew部門</a>
    </li>

    <li>
      <a href="#p14">U18（18歳未満）部門</a>
    </li>
  </ol>
</details>

<h2 id="p01">Tag Team部門</h2>
<h3>Wildcard結果</h3>
<p>2/25 0:00発表 6枠</p>
<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>
  <ol>
    <li>Jairo</li>

    <li>ZieGer</li>

    <li><s>Hippy & Max</s> 辞退</li>

    <li>HUSKEY</li>

    <li>Jackpot</li>

    <li>PAHLAWAN</li>

    <li>Lotus</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CpDRGm6Nbxq/"
      >https://www.instagram.com/p/CpDRGm6Nbxq/</a
    >
  </p>
</details>

<h2 id="p02">Loopstation部門</h2>
<h3>Wildcard結果（第1ラウンド）</h3>
<p>
  2/25 23:00発表 <s>15枠</s>
  <span style="color: #ff0000"><strong>20枠に変更</strong></span>
</p>
<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>
  <ol>
    <li>BreZ</li>

    <li>DICE</li>

    <li>MATEJ</li>

    <li>Josh O</li>

    <li>AVH</li>

    <li>Epos</li>

    <li>Robin</li>

    <li>Mirsa</li>

    <li>Lennard</li>

    <li>Syjo</li>

    <li>Impedance</li>

    <li>Skelem</li>

    <li><s>Antrix</s> 辞退</li>

    <li>TAKO</li>

    <li>RUSY</li>

    <li>YASWEDE</li>

    <li>Mr.Eshoh</li>

    <li>M-Age</li>

    <li>slizzer</li>

    <li>cardona</li>

    <li>808Banon</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CpF1BdgN9cT/"
      >https://www.instagram.com/p/CpF1BdgN9cT/</a
    >
  </p>
</details>

<h2 id="p03">Solo部門</h2>
<h3>Wildcard結果（第1ラウンド）</h3>
<p>
  2/26 21:00発表 <s>25枠</s>
  <span style="color: #ff0000"><strong>27枠に変更</strong></span>
</p>
<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li>WING</li>

    <li>NaPoM</li>

    <li>Mr. Androide</li>

    <li>helium</li>

    <li>dilip</li>

    <li>ICE</li>

    <li>H-has</li>

    <li>ZVD</li>

    <li>JP</li>

    <li>Max</li>

    <li>Stitch</li>

    <li>DEN</li>

    <li>Heartzel</li>

    <li>Bookie blanco</li>

    <li>PONO</li>

    <li>Improver</li>

    <li>BizKit</li>

    <li>Osis</li>

    <li>Zer0</li>

    <li>Remix</li>

    <li>steady</li>

    <li>ABX</li>

    <li>Vino</li>

    <li>Yamori</li>

    <li>KARA</li>

    <li>GIVEN</li>

    <li>hippy</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CpIGeLHt8c2/"
      >https://www.instagram.com/p/CpIGeLHt8c2/</a
    >
  </p>
</details>

<h2 id="p04">U18（18歳未満）部門</h2>
<h3>Wildcard結果</h3>
<p>2/26 23:00発表 8枠</p>
<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li><s>M1klz</s> 辞退</li>

    <li>julard</li>

    <li>serpent</li>

    <li>deity</li>

    <li>Lennsi</li>

    <li><s>Leevy</s> 辞退</li>

    <li>BP</li>

    <li>Wand</li>

    <li><s>Gako</s> 欠場</li>

    <li><s>Chintu</s> 欠場</li>

    <li>Marvelous</li>

    <li>clarkceds</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CpITqlTNVWq/"
      >https://www.instagram.com/p/CpITqlTNVWq/</a
    >
  </p>
</details>

<h2 id="p05">Producer showcase部門</h2>
<h3>Wildcard結果</h3>
<p>3/5 0:00発表 5枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li>Syjo</li>

    <li>Kaos</li>

    <li>KBA</li>

    <li><s>OXYGENIC</s> 辞退</li>

    <li>Antrix</li>

    <li>Friidon</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CpX8ZqQtza0/"
      >https://www.instagram.com/p/CpX8ZqQtza0/</a
    >
  </p>
</details>

<h2 id="p06">Crew部門</h2>
<h3>Wildcard結果</h3>
<p>3/14 0:00発表 5枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li>SARUKANI</li>

    <li>YA NA HA</li>

    <li><s>SQUID</s> 辞退</li>

    <li>EOG</li>

    <li>The Razzzones</li>

    <li>Desible</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CpvKvJfjWL2/"
      >https://www.instagram.com/p/CpvKvJfjWL2/</a
    >
  </p>
</details>

<h2>Loopstation部門</h2>
<h3>Wildcard結果（第2ラウンド）</h3>
<p>3/26 0:00発表</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li>Robin</li>

    <li>Josh O</li>

    <li>BreZ</li>

    <li>DICE</li>

    <li>Epos</li>

    <li>808Banon</li>

    <li>cardona</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CqQpKwdjRVP/"
      >https://www.instagram.com/p/CqQpKwdjRVP/</a
    >
  </p>
</details>

<h2 id="p07">Loopstation部門</h2>
<h3>Wildcard結果（最終結果）</h3>
<p>3/26 0:00発表 7枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li>BreZ</li>

    <li>Josh O</li>

    <li>DICE</li>

    <li>Robin</li>

    <li><s>Epos</s> 辞退</li>

    <li>AVH</li>

    <li>mirsa</li>

    <li>Matej</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CqQKMKjjhsG/"
      >https://www.instagram.com/p/CqQKMKjjhsG/</a
    >
  </p>
</details>

<h2>Solo部門</h2>
<h3>Wildcard結果（第2ラウンド）</h3>
<p>3/27 0:00発表</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li>ICE</li>

    <li>Wing</li>

    <li>Improver</li>

    <li>Den</li>

    <li>helium</li>

    <li>NaPoM</li>

    <li>Mr.Androide</li>

    <li>JP</li>

    <li>Max</li>

    <li>BizKit</li>

    <li>ZVD</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CqTA2iDjgQI/"
      >https://www.instagram.com/p/CqTA2iDjgQI/</a
    >
  </p>
</details>

<h2 id="p08">Solo部門</h2>
<h3>Wildcard結果（最終結果）</h3>
<p>3/27 0:00発表 11枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">ランキング</u></strong
    >
  </summary>

  <ol>
    <li>Wing</li>

    <li>ICE</li>

    <li>NaPoM</li>

    <li>helium</li>

    <li>Mr.Androide</li>

    <li>Den</li>

    <li>JP</li>

    <li>dilip</li>

    <li>ZVD</li>

    <li>Improver</li>

    <li><s>Max</s> 辞退</li>

    <li>H-has</li>

    <li>BizKit</li>
  </ol>

  <p>
    その他の順位：<a href="https://www.instagram.com/p/CqSuMIEDbP8/"
      >https://www.instagram.com/p/CqSuMIEDbP8/</a
    >
  </p>
</details>

<h2>出場者一覧</h2>
<h2 id="p09">Solo部門</h2>
<p>3/26発表 21枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">出場者一覧</u></strong
    >
  </summary>

  <ul>
    <li>シード枠</li>

    <li style="list-style: none; display: inline">
      <table
        align=""
        class="mceEditable"
        style="
          border: 1px solid #00ffff;
          background-color: rgba(255, 255, 255, 0.5);
        "
        width="100%"
        height="100%"
        cellspacing="0"
        cellpadding="3"
        border="0"
      >
        <tbody>
          <tr>
            <td style="border: 1px solid #00ffff">GBB21 Solo トップ3</td>
            <td style="border: 1px solid #00ffff">
              River'<br />
              <s>FootboxG</s> 辞退
            </td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">GBB21 7toSmoke 優勝</td>
            <td style="border: 1px solid #00ffff">King Inertia</td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">BEATCITY JAPAN 優勝</td>
            <td style="border: 1px solid #00ffff">momimaru</td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">
              Maestro Beatbox America 2022 優勝
            </td>
            <td style="border: 1px solid #00ffff">Waali</td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">
              Oceania Beatbox World Competition 2023 優勝
            </td>
            <td style="border: 1px solid #00ffff">pono</td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">
              European Beatbox Championship 2023 優勝
            </td>
            <td style="border: 1px solid #00ffff">maxo</td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">
              All From The Mouth Beatbox Battle 2023 優勝
            </td>
            <td style="border: 1px solid #00ffff">-</td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">（大会未発表 アジア枠）</td>
            <td style="border: 1px solid #00ffff">-</td>
          </tr>

          <tr>
            <td style="border: 1px solid #00ffff">（大会未発表 アフリカ枠）</td>
            <td style="border: 1px solid #00ffff">-</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>

  <ul>
    <li>Wildcard</li>

    <li style="list-style: none; display: inline">
      <ol>
        <li>Wing</li>

        <li>ICE</li>

        <li>NaPoM</li>

        <li>helium</li>

        <li>Mr.Androide</li>

        <li>Den</li>

        <li>JP</li>

        <li>dilip</li>

        <li>ZVD</li>

        <li>Improver</li>

        <li><s>Max</s> 辞退</li>

        <li>H-has</li>

        <li>BizKit</li>
      </ol>
    </li>
  </ul>
</details>

<h2 id="p10">Tag Team部門</h2>
<p>2/25発表 8枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">出場者一覧</u></strong
    >
  </summary>

  <ul>
    <li>シード権</li>

    <li style="list-style: none; display: inline">
      <ul>
        <li>GBB21 Tag Team トップ3</li>

        <li style="list-style: none; display: inline">
          <ul>
            <li>Rogue wave</li>

            <li>Rofu</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      Wildcard<br />

      <ol>
        <li>Jairo</li>

        <li>ZieGer</li>

        <li><s>Hippy &amp; Max</s> 辞退</li>

        <li>Huskey</li>

        <li>Jackpot</li>

        <li>PAHLAWAN</li>

        <li>Lotus</li>
      </ol>
    </li>
  </ul>
</details>

<h2 id="p11">Loopstation部門</h2>
<p>3/25発表 8枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">出場者一覧</u></strong
    >
  </summary>

  <ul>
    <li>シード権</li>

    <li style="list-style: none; display: inline">
      <ul>
        <li>GBB21 Loopstation トップ2</li>

        <li style="list-style: none; display: inline">
          <ul>
            <li>BizKit</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Wildcard</li>

    <li style="list-style: none; display: inline">
      <ol>
        <li>
          <p>BreZ</p>
        </li>

        <li>
          <p>Josh O</p>
        </li>

        <li>
          <p>DICE</p>
        </li>

        <li>
          <p>Robin</p>
        </li>

        <li>
          <p><s>Epos</s> 辞退</p>
        </li>

        <li>
          <p>AVH</p>
        </li>

        <li>
          <p>mirsa</p>
        </li>

        <li>
          <p>Matej</p>
        </li>
      </ol>
    </li>
  </ul>
  i miss you epos...
</details>

<h2 id="p12">Producer showcase部門</h2>
<p>3/4発表 6枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">出場者一覧</u></strong
    >
  </summary>

  <ul>
    <li>シード権</li>

    <li style="list-style: none; display: inline">
      <ul>
        <li>GBB21 Loopstation トップ2</li>

        <li style="list-style: none; display: inline">
          <ul>
            <li>Frosty</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Wildcard</li>

    <li style="list-style: none; display: inline">
      <ol>
        <li>Syjo</li>

        <li>Kaos</li>

        <li>KBA</li>

        <li><s>OXYGENIC</s> 辞退</li>

        <li>Antrix</li>

        <li>Friidon</li>
      </ol>
    </li>
  </ul>
</details>

<h2 id="p13">Crew部門</h2>
<p>3/11発表 6枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">出場者一覧</u></strong
    >
  </summary>

  <ul>
    <li>シード権</li>

    <li style="list-style: none; display: inline">
      <ul>
        <li>GBB21 Crew 優勝</li>

        <li style="list-style: none; display: inline">
          <ul>
            <li>M.O.M</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Wildcard</li>

    <li style="list-style: none; display: inline">
      <ol>
        <li>SARUKANI</li>

        <li>YA NA HA</li>

        <li><s>SQUID</s> 辞退</li>

        <li>EOG</li>

        <li>The Razzzones</li>

        <li>Desible</li>
      </ol>
    </li>
  </ul>
</details>

<h2 id="p14">U18（18歳未満）部門</h2>
<p>2/26発表 8枠</p>

<details>
  <summary style="cursor: pointer">
    <strong style="color: rgb(240, 99, 47)"
      ><u style="color: rgb(0, 68, 204)">出場者一覧</u></strong
    >
  </summary>

  <ul>
    <li>
      シード権
      <ul>
        <li>なし</li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>Wildcard</li>

    <li style="list-style: none; display: inline">
      <ol>
        <li><s>M1klz</s> 辞退</li>

        <li>julard</li>

        <li>serpent</li>

        <li>deity</li>

        <li>Lennsi</li>

        <li><s>Leevy</s> 辞退</li>

        <li>BP</li>

        <li>Wand</li>

        <li><s>Gako</s> 欠場</li>

        <li><s>Chintu</s> 欠場</li>

        <li>Marvelous</li>

        <li>clarkceds</li>
      </ol>
    </li>
  </ul>
</details>
{% endblock %}
