{% extends "base.html" %}
{% block title %}GBB 2023 ルール - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2023:ルール - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2023:ルール - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/2023/rule{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/2023/rule{% endblock %}
{% block content %}
<h1>GBB 2023 ルール</h1>
<p>
  Swissbeatbox公式サイトにて、GBB23で実施される部門・Wildcardのルールについて発表がありました。
</p>
<p>
  ソースサイト：<a
    href="https://swissbeatbox.com/newsfeed/gbb-2023-wildcard-competition/"
    target="_blank"
    title="https://swissbeatbox.com/newsfeed/gbb-2023-wildcard-competition/"
    class=""
    >GBB 2023 Wildcard Competition</a
  >
</p>

<div>
  <h2>目次</h2>

  <ol>
    <li>
      <a href="#p01">注意事項</a>
    </li>

    <li>
      <a href="#p02">開催部門一覧</a>
    </li>

    <li>
      <a href="#p03">出場シード権 獲得条件</a>
    </li>

    <li>
      <a href="#p04">第2ラウンドについて</a>
    </li>

    <li>
      <a href="#p05">Wildcard ルール</a>
    </li>

    <li>
      <a href="#p06">審査員一覧</a>
    </li>
  </ol>
</div>

<h2 id="p01">注意事項</h2>
<p>
  以下に示す内容は、あくまでもBeatboxファンが知っておくとよりGBBを楽しめる知識として紹介するものです。
</p>
<p>
  GBB23のWildcardを提出する方は、<span style="color: #ff0000"
    >必ずご自身でルールを今一度ご確認ください。</span
  >
</p>

<h2 id="p02">開催部門一覧</h2>
<table>
  <thead>
    <tr>
      <th><strong>部門名</strong></th>
      <th><strong>Wildcard</strong></th>
      <th><strong>シード権</strong></th>
      <th><strong>計</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td>11</td>
      <td>10</td>
      <td>21</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td>6</td>
      <td>2</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Loopstation</td>
      <td>7</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Producer showcase</td>
      <td>5</td>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td>5</td>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <td>U18</td>
      <td>8</td>
      <td>なし</td>
      <td>8</td>
    </tr>
  </tbody>
</table>

<h2 id="p03">出場シード権 獲得条件</h2>
<p>
  Wildcardを勝ち上がる以外のGBB出場権を得る方法（シード権）と、その該当者は以下の通りです。
</p>
<table>
  <thead>
    <tr>
      <th>
        <strong><span>シード権</span></strong>
      </th>
      <th><strong>該当者</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>
          <span>GBB21 Solo トップ3<br /></span>
        </p>
        <p><span>&rarr;Solo部門</span></p>
      </td>
      <td>
        <ol>
          <li><s>Colaps</s> <span style="color: #ff0000">辞退</span></li>
        </ol>
        <ol>
          <li value="2">RIVER'</li>
        </ol>
        <ol>
          <li value="3">
            <s>FOOTBOXG</s> <span style="color: #ff0000">辞退</span>
          </li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>
        <p><span>GBB21 Tag Team トップ3</span></p>
        <p><span>&rarr;Tag Team部門</span></p>
      </td>
      <td>
        <ol>
          <li>
            <span>MIDDLE SCHOOL</span> <span style="color: #ff0000">辞退</span>
          </li>
        </ol>
        <ol>
          <li value="2">ROGUE WAVE</li>
          <li>ROFU</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>
        <p><span>GBB21&nbsp;Loopstation トップ2</span></p>
      </td>
      <td>
        <ol>
          <li>
            BIZKIT<br />
            <span>&rarr;</span>Loopstation部門
          </li>
        </ol>
        <ol>
          <li value="2">
            FROSTY<br />
            <span>&rarr;</span>Producer showcase部門
          </li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>
        <p><span>GBB21&nbsp;Crew 優勝</span></p>
        <p><span>&rarr;Crew部門</span></p>
      </td>
      <td>
        <ul>
          <li>M.O.M</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <p><span>GBB21 7tosmoke 優勝</span></p>
        <p><span>&rarr;Solo部門</span></p>
      </td>
      <td>
        <ul>
          <li>KING INERTIA</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <span>後日発表される特定の地域別大会優勝者</span>
        <p><span>&rarr;Solo部門</span></p>
      </td>
      <td>
        <ul>
          <li>
            <strong><span style="color: #ff0000">（※）</span></strong>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <strong><span style="color: #ff0000">（※）</span></strong
  >対象の地域別大会・その優勝者は以下の通りです。
</p>

<table>
  <thead>
    <tr>
      <th>
        <strong><span>大会名</span></strong>
      </th>
      <th>
        <strong><span>地域区分</span></strong>
      </th>
      <th><strong>優勝者</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>BEATCITY JAPAN<br /></span>
      </td>
      <td>開催国</td>
      <td>MOMIMARU</td>
    </tr>
    <tr>
      <td>Maestro Beatbox America 2022</td>
      <td>中南米</td>
      <td>WAALI</td>
    </tr>
    <tr>
      <td>Oceania Beatbox World Competition 2023</td>
      <td>オセアニア</td>
      <td>PONO</td>
    </tr>
    <tr>
      <td>European Beatbox Championship 2023</td>
      <td>ヨーロッパ</td>
      <td>MAXO</td>
    </tr>
    <tr>
      <td>All From The Mouth Beatbox Battle 2023</td>
      <td>北米</td>
      <td>-</td>
    </tr>
    <tr>
      <td>（未発表）</td>
      <td>アジア</td>
      <td>-</td>
    </tr>
    <tr>
      <td>（未発表）</td>
      <td>アフリカ</td>
      <td>-</td>
    </tr>
  </tbody>
</table>

<p>
  GBB21 Tag Team Loopstation部門で優勝したSORRYは、出場権を得られないそうです。
</p>
<p>
  <a
    href="https://twitter.com/SO_SO_LOOPER/status/1587637905073532928?s=20&amp;t=FWXlfW25Njm70EsOctNs_Q"
    target="_blank"
    title="https://twitter.com/SO_SO_LOOPER/status/1587637905073532928?s=20&amp;t=FWXlfW25Njm70EsOctNs_Q"
    class=""
    >SO-SOさんのツイート</a
  >より
</p>
<p>なお、シード権を持つ人が辞退した場合、Wildcard枠に置き換えられます。</p>

<h2 id="p04">第2ラウンドについて</h2>
<p>
  Solo部門・Loopstation部門のみ、Wildcardに第2ラウンドが追加されることが発表されました。
</p>
<p>以下翻訳抜粋です（訳：管理人）：</p>
<p>
  最初のWildcard提出終了後、通常どおりランキングを作成し、総合ランキングを発表します。このランキングから、Soloのトップ25とloopstationのトップ15が選ばれ、第2ラウンドのWildcard受付を始めます。
</p>
<p>第2ラウンドWildcardの受付期間は2週間です。</p>
<p>その後、審査員は通常どおりランクを作成し、2回目のランキングを発表します。</p>
<p>
  そして、両方のラウンドの平均ランキングが作成され、Solo部門出場者11名とLoopstation部門出場者7名を発表します。
</p>

<h2 id="p05">Wildcard ルール</h2>
<ul>
  <li><strong>全部門共通ルール</strong></li>
  <li>
    <ul>
      <li>各部門の制限時間を超過した場合</li>
      <li>
        <ul>
          <li>10秒以下の超過：ペナルティなし</li>
          <li>11秒以上の超過：1秒ごとに -1 ポイント</li>
        </ul>
      </li>
      <li>提出受付開始時間：1月1日 (0:00 CET)</li>
    </ul>
  </li>
</ul>

<ul>
  <li><strong>Solo部門</strong></li>
  <li>
    <ul>
      <li>制限時間：2分</li>
      <li>第1ラウンド提出期限：2月4日 (23:59 CET)&nbsp;</li>
    </ul>
    <ul>
      <li>第1ラウンド結果発表：2月26日</li>
    </ul>
    <ul>
      <li>第2ラウンド提出期間：3月2日~16日 (23:59 CET)</li>
    </ul>
    <ul>
      <li>第2ラウンド結果発表：3月26日</li>
    </ul>
  </li>
</ul>
<ul>
  <li><strong>Tag Team部門</strong></li>
  <li>
    <ul>
      <li>制限時間：2分</li>
      <li>提出期限：2月11日 (23:59 CET)&nbsp;</li>
    </ul>
    <ul>
      <li>結果発表：2月24日</li>
    </ul>
  </li>
</ul>
<div>
  <ul>
    <li><strong>Loopstation部門</strong></li>
    <li>
      <ul>
        <li>制限時間：3分30秒&nbsp;</li>
        <li>
          使用可能デバイス：BOSS RC505 mki もしくは BOSS&nbsp;RC505 mkii のみ
        </li>
        <li>第1ラウンド提出期限：2月4日 (23:59 CET)&nbsp;</li>
      </ul>
      <ul>
        <li>第1ラウンド結果発表：2月25日</li>
      </ul>
      <ul>
        <li>第2ラウンド提出期間：3月1日~15日 (23:59 CET)</li>
      </ul>
      <ul>
        <li>第2ラウンド結果発表：3月25日</li>
      </ul>
    </li>
  </ul>
</div>
<ul>
  <li>
    <ul>
      <li>制限時間：5分</li>
      <li>使用可能デバイス：無制限</li>
      <li>提出期限：2月11日 (23:59 CET)&nbsp;</li>
    </ul>
    <ul>
      <li>結果発表：3月4日</li>
    </ul>
  </li>
</ul>
<ul>
  <li><strong>Crew部門</strong></li>
  <li>
    <ul>
      <li>制限時間：3分</li>
      <li>提出期限：2月18日 (23:59 CET)&nbsp;</li>
    </ul>
    <ul>
      <li>結果発表：3月11日</li>
    </ul>
  </li>
</ul>
<ul>
  <li><strong>U18（18歳未満）部門</strong></li>
  <li>
    <ul>
      <li>制限時間：2分</li>
      <li>GBB23開催当日、18歳未満であることが条件</li>
      <li>提出期限：2月4日 (23:59 CET)&nbsp;</li>
    </ul>
    <ul>
      <li>結果発表：2月26日</li>
    </ul>
  </li>
</ul>

<h2 id="p06">審査員一覧</h2>
<p>※GBB23本番の審査員と、Wildcard審査員は、同じメンバーです。</p>
<p>※審査員は全員SHOWCASEをすると動画内で発表しています。</p>
<p>&rArr;実際は一部審査員のSHOWCASEだけでした。</p>
<ul>
  <li><strong>Solo部門</strong></li>
  <li>
    <ul>
      <li>Alexinho</li>
      <li>Skiller</li>
      <li>D-low</li>
      <li>WAWAD</li>
      <li>Gene shinozaki</li>
    </ul>
  </li>
</ul>
<ul>
  <li><strong>Tag Team部門</strong></li>
  <li>
    <ul>
      <li>PE4ENKATA</li>
      <li>Supernova</li>
      <li>Alem</li>
      <li>Pash</li>
      <li>Jayton</li>
    </ul>
  </li>
</ul>
<ul>
  <li><strong>Loopstation部門</strong></li>
  <li>
    <ul>
      <li>SARO</li>
      <li>beardyman</li>
      <li>Rythmind</li>
      <li>kristof</li>
      <li>Tom thum</li>
    </ul>
  </li>
</ul>

{% endblock %}
