{% extends "base.html" %}
{% block title %}GBB 2023 当日配信 - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2023:当日配信 - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2023:当日配信 - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/2023/stream{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/2023/stream{% endblock %}
{% block content %}
<h1>GBB 2023 当日配信</h1>
<p>ABEMA 独占配信</p>
<div class="button-container">
  <a href="https://abe.ma/3twGSRS"><button type="button">Day1 10/18</button></a>
  <a href="https://abe.ma/3tnDWql"><button type="button">Day2 10/19</button></a>
  <a href="https://abe.ma/3QbWYZX"><button type="button">Day3 10/20</button></a>
  <a href="https://abe.ma/45qlLhd"><button type="button">Day4 10/21</button></a>
</div>
{% endblock %}
