{% extends "base.html" %}
{% block title %}GBB 2023 会場 & チケット - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2023:会場 & チケット - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2023:会場 & チケット - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/2023/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/2023/ticket{% endblock %}
{% block content %}
<h1>GBB 2023 会場 & チケット</h1>
<p>GBB23 会場: EX THEATER ROPPONGI<br>チケット販売は終了しました。</p>
{% endblock %}
