{% extends "base.html" %}
{% block title %}GBB 2023 これだけガイド - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB2023:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB2023:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/2023/top{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/2023/top{% endblock %}
{% block content %}

<h1>GBB 2023</h1>
<p style="text-align: center;">Grand Beatbox Battleの各種情報を、日本語に翻訳し見やすくまとめた非公式情報サイトです。</p>
<h2>これだけガイド</h2>
<div class="button-container">
    <a href="/2023/participants"><button type="button">Wildcard結果&出場者</button></a>
    <a href="/others/how_to_plan"><button type="button">現地観戦計画のたてかた</button></a>
    <a href="/2023/rule"><button type="button">GBB2023ルール&ジャッジ</button></a>
    <a href="/2023/ticket"><button type="button">会場&チケット</button></a>
    <a href="/2023/japan"><button type="button">日本代表</button></a>
    <a href="/2023/time_schedule"><button type="button">タイムスケジュール</button></a>
    <a href="/2023/stream"><button type="button">当日配信</button></a>
    <a href="/2023/result"><button type="button">大会結果</button></a>
</div>

{% endblock %}
