
<div class="bottom-navigation">
    <button class="bottom-navigation-button" id="bottom-dropdown" onclick="toggleDropdown()" style="border-right: 1px solid white; border-left: 1px solid white;">
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#FFFFFF"><path d="M144-552v-240h72v130q46-60 114.5-95T480-792q140 0 238 98t98 238h-72q0-109-77.5-186.5T480-720q-62 0-114.5 25.5T277-624h107v72H144Zm0 96h72q0 106 71.5 181.5T462-192l42 71q-6 0-12 .5t-12 .5q-140 0-238-98t-98-238Zm409 109L444-456v-192h72v162l74 75-37 64ZM736 0l-13-56q-14-5-26.5-12T673-84l-55 17-32-55 41-40q-2-9-3-23.5t3-34.5l-41-39 32-56 54 16q11-10 24-17t27-12l13-56h64l13 56q14 5 27 12t24 17l54-15 32 55-40 38q1 7 3 22t-3 37l41 39-32 55-55-16q-11 10-24 16.5T813-56L800 0h-64Zm32-120q30 0 51-21t21-51q0-30-21-51t-51-21q-30 0-51 21t-21 51q0 30 21 51t51 21Z"/></svg>
      <span>{{ year }}</span>
    </button>
    <button class="bottom-navigation-button" onclick="location.href='/'">
      <img id="home-icon" src="/static/images/icon/icon-home.webp" alt="Home Icon" height="40px" width="40px">
      <span>Home</span>
    </button>

    <div id="dropdown-content" class="dropdown-content" style="display: none;">
      <!-- ここに過去年度のリンクを動的に生成する -->
      {% for y in available_years %}
        <a href="/{{ y }}/top">GBB {{ y }}</a>
      {% endfor %}
    </div>

    <button class="bottom-navigation-button" id="bottom-navigation-search">
      <img id="search-icon" src="/static/images/icon/icon-search.webp" alt="Search Icon" height="40px" width="40px">
      <img id="close-icon" src="/static/images/icon/icon-close.webp" alt="close Icon" height="40px" width="40px" style="display: none;">
      <span id="search-msg">さがす</span>
    </button>

    {% if is_latest_year is false %}
      <div id="search-menu-nav" class="search-menu-nav-past" style="display: none;">
        <button class="close-button" onclick="closeSearchMenu()">✖</button>
        <h3>GBB {{ year }} {{ _('なんでも検索') }}</h3>
        <p style="text-align: center;">{{ _('GBB {year} の検索のみ可能です').format(year=year) }}<br>{{ _('GBB {year} は終了しました').format(year=year) }}</p>
        <form id="search-form-nav" class="search-form-1" action="/{{ year }}/search">
          <input type="text" name="question" id="question-nav" placeholder="{{ _('例：GBB {year} の最終結果は？').format(year=year) }}" required>
          <button type="submit"></button>
        </form>
        <div class="button-container">
          <a href="/"><button type="button">{{ _('GBB最新情報の検索はこちら') }}</button></a>
        </div>
      </div>
    {% else %}
      <div id="search-menu-nav" class="search-menu-nav-latest" style="display: none;">
        <button class="close-button" onclick="closeSearchMenu()">✖</button>
        <h2 id="bottom-search-menu">GBB {{ year }} {{ _('なんでも検索') }}</h2>
        <p style="text-align: center;">{{ _('GBB {year} について検索してみよう').format(year=year) }}</p>
        <form id="search-form-nav" class="search-form-1" action="/{{ year }}/search">
          <input type="text" name="question" id="question-nav" placeholder="{{ _('例：現地観戦計画のたてかた') }}" required>
          <button type="submit"></button>
        </form>
      </div>
    {% endif %}
  </div>
