
<div class="background-popup" onclick="closePopup()"></div>
<div class="popup">
    {% if year == 2022 %}
        <p style="font-size: 36px; font-weight: bold;">☆<br>GBB {{ year }}<br>{{ _('中止') }}<br>☆</p>
    {% else %}
        <p style="font-size: 36px; font-weight: bold;">☆<br>GBB {{ year }}<br>{{ _('終了しました') }}<br>☆</p>
        <p>{{ _('ここは、すでに終了したGBB {year} のページです').format(year=year) }}</p>
    {% endif %}
    <div class="button-container" style="margin-bottom: 8px">
        <a href="/"><button type="button">{{ _('GBB最新情報はこちら') }}</button></a>
    </div>
<button type="button" onclick="closePopup()">{{ _('閉じる') }}</button>
</div>
