<div class="background-popup" onclick="closePopup()"></div>
<div class="popup">
<p style="text-align: center; font-size: 36px; font-weight: bold;">×××<br>{{ _('情報なし') }}<br>×××</p>
<div style="text-align: center;">
    <p>{{ last_updated }}</p>
</div>
<p style="text-align: center;">{{ _('お探しの情報は、公式発表がまだ無いため、当サイトのどこにも存在しません。') }}<br>{{ _('公式発表をお待ちください。') }}</p>
    <button type="button" onclick="closePopup()">{{ _('閉じる') }}</button>
</div>
<div style="text-align: center;">
    <p>{{ last_updated }}</p>
</div>
