{% extends "base.html" %}
{% block title %}GBB {{ year }} ルール - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:ルール - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:ルール - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/rule{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/rule{% endblock %}
{% block content %}
<h1>GBB {{ year }} ルール</h1>
<p>
  Swissbeatbox公式サイトにて、GBB24で実施される部門・Wildcardのルールについて発表がありました。<br />
  ソースサイト：<a
    href="https://swissbeatbox.com/newsfeed/gbb-2024-wildcard-competition-rules-and-application/"
    target="_blank"
    rel="noopener noreferrer"
    >GBB 2024 Wildcard Competition Rules and Application</a
  >
</p>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB{{ year }}これだけガイド</button></a>
</div>

<div>
  <h2>目次</h2>

  <ol>
    <li>
      <a href="#p01">注意事項</a>
    </li>

    <li>
      <a href="#p02">開催部門一覧</a>
    </li>

    <li>
      <a href="#p03">出場シード権 獲得条件</a>
    </li>

    <li>
      <a href="#p05">Wildcard ルール</a>
    </li>

    <li>
      <a href="#p06">GBB24本戦審査員一覧</a>
    </li>

    <li>
      <a href="#p07">Wildcard審査員一覧</a>
    </li>
  </ol>
</div>

<h2 id="p01">注意事項</h2>
<p>
  以下に示す内容は、あくまでもBeatboxファンが知っておくとよりGBBを楽しめる知識として紹介するものです。<br />一部内容において、わかりやすさを優先し、<strong
    >正確さに欠ける表現を用いることがあります。</strong
  >
</p>
<p>
  当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねます。<br />Wildcardを提出する方は、<strong
    ><span style="color: #ff0000"
      >必ずご自身でルールを今一度ご確認ください。</span
    ></strong
  >
</p>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB{{ year }}これだけガイド</button></a>
</div>

<h2 id="p02">開催部門一覧</h2>
<table>
  <thead>
    <tr>
      <th style="width: 30%"><strong>部門</strong></th>
      <th style="width: 30%"><strong>Wildcard</strong></th>
      <th style="width: 25%"><strong>シード</strong></th>
      <th style="width: 15%"><strong>計</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td>8</td>
      <td>8</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Loopstation</td>
      <td>6</td>
      <td>2</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Producer</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td>6</td>
      <td>1</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
<p>
  上記のデータは、ルール発表時現在の情報です。実際は、辞退などにより、出場者数が変動します。
</p>
<ul>
  <li>
    <strong>Producerとは</strong><br />
    Loopstationのセカンドデバイス（Loopstationに接続する端末）ありの部門で、GBB23で"Producer showcase"として新設されました。その代わり、Loopstation部門においてセカンドデバイスの使用が禁止されます。
  </li>
</ul>
<p>忘れられたTag Team Loopstation...😭</p>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/2024/top"><button>GBB{{ year }}これだけガイド</button></a>
</div>

<h2 id="p03">出場シード権 獲得条件</h2>
<p>
  Wildcardを勝ち上がる以外の方法でGBB出場権を得る方法（シード権）と、その該当者は以下の通りです。
</p>
{% if participants %}
<table>
  <thead>
  <tr>
    <th style="width: 33%;">名前</th>
    <th style="width: 34%;">部門</th>
    <th style="width: 33%;">出場権</th>
  </tr>
  </thead>
  <tbody>
    {% for participant in participants %}
    <tr>
      <td>
        {% if participant.members != "" %}

          {% if participant.is_cancelled %}
            【辞退】<br><a href="javascript:void(0);" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';" style="text-decoration: line-through;">{{ participant.name }}</a>
          {% else %}
            <a href="javascript:void(0);" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';">{{ participant.name }}</a>
          {% endif %}

        <div class="member-list" style="display: none;">{% for member in participant.members.split(',') %}{{ member }}<br>{% endfor %}</div>

        {% else %}
          {% if participant.is_cancelled %}
            【辞退】<br><s>{{ participant.name }}</s>
          {% else %}
            {{ participant.name }}
          {% endif %}
        {% endif %}

      </td>
      <td>
        {% if participant.is_cancelled %}
          <s>{{ participant.category }}</s>
        {% else %}
          {{ participant.category }}
        {% endif %}
      </td>
      <td {% if participant.ticket_class|length > 10 %} style="font-size: 12px;" {% endif %}>
        {% if participant.is_cancelled %}
          <s>{{ participant.ticket_class }}</s>
        {% else %}
          {{ participant.ticket_class }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>～発表次第更新～</p>
{% endif %}

<br>
<h3>シード権辞退者一覧</h3>
{% if cancels %}
<table>
  <thead>
  <tr>
    <th style="width: 33%;">名前</th>
    <th style="width: 34%;">部門</th>
    <th style="width: 33%;">出場権</th>
  </tr>
  </thead>
  <tbody>
    {% for participant in cancels %}
    <tr>
      <td>
        {% if participant.members != "" %}

          {% if participant.is_cancelled %}
            【辞退】<br><a href="javascript:void(0);" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';" style="text-decoration: line-through;">{{ participant.name }}</a>
          {% else %}
            <a href="javascript:void(0);" onclick="this.nextElementSibling.style.display = this.nextElementSibling.style.display === 'none' ? 'block' : 'none';">{{ participant.name }}</a>
          {% endif %}

        <div class="member-list" style="display: none;">{% for member in participant.members.split(',') %}{{ member }}<br>{% endfor %}</div>

        {% else %}
          {% if participant.is_cancelled %}
            【辞退】<br><s>{{ participant.name }}</s>
          {% else %}
            {{ participant.name }}
          {% endif %}
        {% endif %}

      </td>
      <td>
        {% if participant.is_cancelled %}
          <s>{{ participant.category }}</s>
        {% else %}
          {{ participant.category }}
        {% endif %}
      </td>
      <td {% if participant.ticket_class|length > 10 %} style="font-size: 12px;" {% endif %}>
        {% if participant.is_cancelled %}
          <s>{{ participant.ticket_class }}</s>
        {% else %}
          {{ participant.ticket_class }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>～発表次第更新～</p>
{% endif %}


<p>
  <span style="color: #ff0000"><strong>※MENAリージョン</strong></span
  >は、中東と北アフリカを合わせた地域を指します。
</p>
<p>シード権を持つ人が辞退した場合、Wildcard下位からの繰り上げが行われます。</p>
<p>MENAリージョン大会に関しては、Swissbeatboxが自ら主催するようです。</p>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB{{ year }}これだけガイド</button></a>
</div>
<h2 id="p05">Wildcard ルール</h2>
<table>
  <thead>
    <tr>
      <th>部門</th>
      <th>ルール</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>全部門共通</td>
      <td style="font-size: 14px;">制限時間を超過した場合、1秒につき最終順位を1つ下げる<br />提出受付開始日時：1月21日</td>
    </tr>
    <tr>
      <td>Solo</td>
      <td style="font-size: 14px;">制限時間：2分10秒<br />提出期限：3月9日 (23:59 CET)<br />結果発表：3月31日 (時間未定)</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td style="font-size: 14px;">制限時間：2分10秒<br />提出期限：3月23日 (23:59 CET)<br />結果発表：4月12日 (時間未定)</td>
    </tr>
    <tr>
      <td>Loopstation</td>
      <td style="font-size: 14px;">制限時間：3分30秒<br />提出期限：3月9日 (23:59 CET)<br />結果発表：3月30日 (時間未定)<br />RC505 mki, mkiiのみ<br />一部例外あり</td>
    </tr>
    <tr>
      <td>Producer</td>
      <td style="font-size: 14px;">制限時間：5分<br />提出期限：3月23日 (23:59 CET)<br />結果発表：4月13日 (時間未定)<br />デバイス制限なし</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td style="font-size: 14px;">制限時間：3分10秒<br />提出期限：3月23日 (23:59 CET)<br />結果発表：4月14日 (時間未定)</td>
    </tr>
  </tbody>
</table>
<br>

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB{{ year }}これだけガイド</button></a>
</div>
<h2 id="p06">本戦審査員一覧</h2>
<table>
  <thead>
    <tr>
      <th style="width: 50%"><strong>部門</strong></th>
      <th style="width: 50%"><strong>審査員</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td>FOOTBOXG<br />COLAPS<br />DHARNI<br>HISS<br>NAPOM</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td>CHRIS CELIZ<br>FOOTBOXG<br>FROSTY<br>HIRONA<br>RIVER'</td>
    </tr>
    <tr>
      <td>Loopstation</td>
      <td>BIZKIT<br>ROBIN<br>FROSTY<br>SLIZZER<br>TIONEB</td>
    </tr>
    <tr>
      <td>Producer</td>
      <td>JAYTON<br>ROBIN<br>FROSTY<br>PASH<br>TIONEB</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td>CHRIS CELIZ<br>COLAPS<br>DHARNI<br>SLIZZER<br>SO-SO</td>
    </tr>
    <tr>
      <td>7toSmoke</td>
      <td>審査員不明<br />例年発表なし</td>
    </tr>
  </tbody>
</table>
<br />

<div class="button-container">
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/top"><button>GBB{{ year }}これだけガイド</button></a>
</div>
<h2 id="p07">Wildcard審査員一覧</h2>
<div style="text-align: center;">
  <a href="#p06">GBB{{ year }}本戦審査員一覧はこちら</a>
</div>
<br>

<table>
  <thead>
    <tr>
      <th style="width: 50%"><strong>部門</strong></th>
      <th style="width: 50%"><strong>審査員</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Solo</td>
      <td>FOOTBOXG<br />COLAPS<br />RIVER'</td>
    </tr>
    <tr>
      <td>Tag Team</td>
      <td>RIVER'<br />COLAPS<br />CHRIS CELIZ</td>
    </tr>
    <tr>
      <td>Loopstation</td>
      <td>BIZKIT<br />KRISTOF<br />TIONEB</td>
    </tr>
    <tr>
      <td>Producer</td>
      <td>INKIE<br />KRISTOF<br />TIONEB</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td>CHRIS CELIZ<br />COLAPS<br />SLIZZER</td>
    </tr>
  </tbody>
</table>
<br />

{% endblock %}
