{% extends "base.html" %}
{% block title %}GBB {{ year }} 当日配信 - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:当日配信 - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:当日配信 - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/stream{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/stream{% endblock %}
{% block content %}
<h1>GBB {{ year }} 当日配信</h1>
<p>ABEMA独占生中継</p>
<div class="button-container">
  <a href="https://abe.ma/48kXwnx"><button>Day1 11/1</button></a>
  <a href="https://abe.ma/40gzGHJ"><button>Day2 11/2</button></a>
  <a href="https://abe.ma/4eT777B"><button>Day3 11/3</button></a>
  <a href="https://abe.ma/4fxYZJV"><button>7toSmoke 11/4</button></a>
</div>

{% endblock %}
