{% extends "base.html" %}
{% block title %}GBB {{ year }} 会場&チケット - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:会場&チケット - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:会場&チケット - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/ticket{% endblock %}
{% block content %}
<h1>GBB {{ year }} 会場&チケット</h1>
<p>GBB {{ year }} 会場: <strong>Toyosu PIT</strong>
<br>
<a href="https://t.pia.jp/pia/ticketInformation.do?eventCd=2403620&rlsCd=001" target="_blank" rel="noopener noreferrer">チケットぴあ</a>
<a href="https://eplus.jp/sf/detail/4099720001" target="_blank" rel="noopener noreferrer">eplus</a>
<a href="https://ticket.rakuten.co.jp/event/rtvmbgg/" target="_blank" rel="noopener noreferrer">楽天チケット</a>
</p>
<p>7toSmoke 会場: <strong>Spotify O-EAST</strong>
<br>
<a href="https://t.pia.jp/pia/ticketInformation.do?eventCd=2403622&rlsCd=001" target="_blank" rel="noopener noreferrer">7toSmoke チケット</a>
</p>
<h3>再販売について</h3>
<p>一度完売したチケットが、再度購入可能になることがあります。</p>
<p>原因としては、一度購入した方が、コンビニ決済などの手続きを失念したことによる、在庫の再販売などが考えられます。</p>
<p>イベントによって大きな差がありますが、一般的に、購入されたチケットのうち2~4割は再販売されることが知られています。</p>

{% endblock %}
