{% extends "base.html" %}
{% block title %}GBB {{ year }} タイムスケジュール - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:タイムスケジュール - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:タイムスケジュール - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/time_schedule{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/time_schedule{% endblock %}
{% block content %}
<h1>GBB {{ year }} タイムスケジュール</h1>

<p>時刻はあくまでも予定です。</p>
<p>GBB21では、予定から約2時間遅延しました。</p>
<p>GBB23では、本番7日前に日本語版・英語版のタイムスケジュールが公開されましたが、日本語版のみ正しく、英語版には誤記が多くみられました。</p>

<h2>Day1 - 11/1(金)</h2>
<table>
  <thead>
    <tr>
      <th>時刻</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>14:05</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>サプライズゲスト</td>
    </tr>
    <tr>
      <td>15:20</td>
      <td>スタート</td>
    </tr>
    <tr>
      <td>-</td>
      <td>スペシャルSHOWCASE</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Crew 予選</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Producer 予選</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Tag Team 予選</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Producer 準決勝</td>
    </tr>
    <tr>
      <td>21:00</td>
      <td>終了</td>
    </tr>
  </tbody>
</table>

<h2>Day2 - 11/2(土)</h2>
<table>
  <thead>
    <tr>
      <th>時刻</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13:00</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>13:55</td>
      <td>サプライズゲスト</td>
    </tr>
    <tr>
      <td>14:15</td>
      <td>スタート</td>
    </tr>
    <tr>
      <td>-</td>
      <td>スペシャルSHOWCASE</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Loopstation 準々決勝</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Crew 決勝バトル</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Producer 決勝</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Solo 予選</td>
    </tr>
    <tr>
      <td>21:00</td>
      <td>終了</td>
    </tr>
  </tbody>
</table>

<h2>Day3 - 11/3(日)</h2>
<table>
  <thead>
    <tr>
      <th>時刻</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13:00</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>13:55</td>
      <td>サプライズゲスト</td>
    </tr>
    <tr>
      <td>14:30</td>
      <td>スタート</td>
    </tr>
    <tr>
      <td>-</td>
      <td>スペシャルSHOWCASE</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Loopstation 準決勝・決勝</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Solo 準々決勝</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Tag Team 準決勝</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Solo 準決勝</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Tag Team 準決勝・決勝<br><span style="font-size: 12px;">※3位決定戦の間違いと思われます</span></td>
    </tr>
    <tr>
      <td>-</td>
      <td>Solo 決勝<br><span style="font-size: 12px;">※おそらく3位決定戦も？</span></td>
    </tr>
    <tr>
      <td>20:30</td>
      <td>セレモニー</td>
    </tr>
    <tr>
      <td>21:00</td>
      <td>終了</td>
    </tr>
    <tr>
      <td>22:00</td>
      <td>アフターパーティー</td>
    </tr>
  </tbody>
</table>

<h2 name="7tosmoke">7toSmoke - 11/4(月・祝)</h2>
<table>
  <thead>
    <tr>
      <th>時刻</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>15:00</td>
      <td>入場開始</td>
    </tr>
    <tr>
      <td>15:40</td>
      <td>スタート<br><span style="font-size: 12px;">※ソース：この情報のみ会場公式サイトより</span></td>
    </tr>
    <tr>
      <td>16:25</td>
      <td>予選</td>
    </tr>
    <tr>
      <td>19:00</td>
      <td>本戦出場者アナウンス</td>
    </tr>
    <tr>
      <td>19:15</td>
      <td>本戦スタート</td>
    </tr>
    <tr>
      <td>20:35</td>
      <td>セレモニー</td>
    </tr>
    <tr>
      <td>20:40</td>
      <td>DJ SET</td>
    </tr>
    <tr>
      <td>21:10</td>
      <td>DJ SET</td>
    </tr>
    <tr>
      <td>22:00</td>
      <td>終了</td>
    </tr>
  </tbody>
</table>

<div class="button-container">
  <a href="/{{ year - 1 }}/time_schedule"><button type="button">参考<br>昨年度タイムスケジュール</button></a>
</div>
<br>

{% endblock %}
