{% extends "base.html" %}
{% block title %}GBB {{ year }} これだけガイド - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/top{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/top{% endblock %}
{% block content %}
<h1>GBB {{ year }}</h1>
<p style="text-align: center;">公式よりもわかりやすい！ GBB{{ year }}非公式情報サイト</p>
<h2>これだけガイド</h2>
<div class="button-container">
    <a href="/{{ year }}/rule"><button type="button">GBB{{ year }}ルール&ジャッジ</button></a>
    <a href="/{{ year }}/ticket"><button type="button">会場&チケット</button></a>
    <a href="/{{ year }}/participants"><button type="button">Wildcard結果&出場者</button></a>
    <a href="/{{ year }}/japan"><button type="button">日本代表</button></a>
    <a href="/{{ year }}/time_schedule"><button type="button">タイムスケジュール</button></a>
    <a href="/{{ year }}/stream"><button type="button">当日配信</button></a>
    <a href="/{{ year }}/result"><button type="button">大会結果</button></a>
    <a href="/others/how_to_plan"><button type="button">現地観戦計画のたてかた</button></a>
</div>
<ul>
    <li><a href="/others/url_change">当サイトURL変更のお知らせ</a></li>
    <li><a href="/others/result_stream">Wildcard結果発表配信</a></li>
    <li><a href="/{{ year }}/wildcards">Wildcard一覧</a></li>
    <li><a href="https://tari3210.github.io/bcj-maps/" target="_blank" rel="noopener noreferrer">BEATCITY 2024 maps</a></li>
</ul>
<p>これらの情報のほかにも、</p>
<ul>
    <li>未発表の情報(決まっているが、なぜか公式が発表を渋っている)</li>
    <li>未定事項(そもそも決まってすらいない)</li>
</ul>
<p>が多く存在します。</p>
<p>GBBの各種情報は、発表が非常に遅いことで有名です。気長に待ちましょう。</p>
<p>なお、当サイトは、未発表情報を公式に先立ち公開する「リーク」行為を自粛しています。</p>
{% endblock %}
