{% extends "base.html" %}
{% block title %}GBB {{ year }} これだけガイド - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}:これだけガイド - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/top{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/top{% endblock %}
{% block content %}
<h1>GBB {{ year }}</h1>
<p style="text-align: center;">公式よりもわかりやすい！<br>GBB{{ year }}非公式情報サイト</p>

{% if is_latest_year is true %}
<form id="searchForm" class="search-form-1" action="/{{ year }}/search">
  <input type="text" name="question" id="question" placeholder="例：今年の出場者は？" required>
  <button type="submit" aria-label="検索"></button>
</form>
<div id="loading" class="loading"></div>
{% endif %}

<h2>これだけガイド</h2>
<p style="text-align: center;">GBB {{ year }}: 11月 1日～3日</p>

<div class="button-container">
  <a href="/{{ year }}/participants"><button>Wildcard結果&出場者</button></a>
  <a href="/others/how_to_plan"><button>現地観戦計画のたてかた</button></a>
  <a href="/{{ year }}/rule"><button>GBB{{ year }}ルール&審査員</button></a>
  <a href="/{{ year }}/ticket"><button>会場&チケット</button></a>
  <a href="/{{ year }}/japan"><button>日本代表</button></a>
  <a href="/{{ year }}/time_schedule"><button disabled><span id="disabled-button">GBB23では<br>本番7日前発表<br></span><s>タイムスケジュール</s></button></a>
  <a href="/{{ year }}/stream"><button disabled><span id="disabled-button">GBB23では<br>本番7日前発表<br></span><s>当日配信</s></button></a>
  <a href="/{{ year }}/result"><button disabled><span id="disabled-button">GBB24終了後掲載<br></span><s>大会結果</s></button></a>
</div>

<ul>
  <li><a href="/others/url_change">当サイトURL変更のお知らせ</a></li>
  <li><a href="/others/result_stream">Wildcard結果発表配信</a></li>
  <li><a href="/{{ year }}/wildcards">Wildcard一覧</a></li>
  <li><a href="/others/7tosmoke">7toSmokeとは</a></li>
  <li><a href="https://tari3210.github.io/bcj-maps/" target="_blank" rel="noopener noreferrer">BEATCITY 2024 maps</a></li>
</ul>

<p>これらの情報のほかにも、</p>
<ul>
  <li>未発表の情報(決まっているが、なぜか公式が発表を渋っている)</li>
  <li>未定事項(そもそも決まってすらいない)</li>
</ul>
<p>が多く存在します。</p>
<p>GBBの各種情報は、発表が非常に遅いことで有名です。気長に待ちましょう。</p>

<h2>お問い合わせ</h2>
<p>過去のGBBにおいて、下記番号に電話したらGBB詳細情報を教えてくれた、という報告が相次ぎました。</p>
<table>
<tr>
  <th>場所</th>
  <th>電話番号</th>
</tr>
<tr>
  <td>チケット販売ページ<br>記載の番号</td>
  <td><a href="tel:0570017230">0570017230</a></td>
</tr>
<tr>
  <td>GBB {{ year }} 会場<br>Toyosu PIT</td>
  <td><a href="tel:0335317888">0335317888</a></td>
</tr>
<tr>
  <td>7toSmoke 会場<br>Spotify O-EAST</td>
  <td><a href="tel:0354584681">0354584681</a></td>
</tr>
</table>
<p>なお上記電話番号は、当サイトとは無関係です。</p>


{% endblock %}
