<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Swissbeatboxが主催するHuman Beatboxの世界大会「Grand Beatbox Battle」の各種情報を、日本語に翻訳し見やすくまとめたサイトです。">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/dropdown.css" />
    <link rel="stylesheet" href="/static/css/table.css" />
    <link rel="stylesheet" href="/static/css/popup.css" />
    <link rel="canonical" href="https://gbbinfo-jpn.onrender.com/">
    <meta name="twitter:title" content={% block twitter_title %}{% endblock %} />
    <meta name="twitter:description" content="Swissbeatboxが主催するHuman Beatboxの世界大会「Grand Beatbox Battle」の各種情報を、日本語に翻訳し見やすくまとめたサイトです。" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="https://gbbinfo-jpn.onrender.com/static/images/background.webp" />
    <meta property="og:title" content={% block og_title %}{% endblock %} />
    <meta property="og:description" content="Swissbeatboxが主催するHuman Beatboxの世界大会「Grand Beatbox Battle」の各種情報を、日本語に翻訳し見やすくまとめたサイトです。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={% block og_url %}{% endblock %} />
    <meta property="og:image" content="https://gbbinfo-jpn.onrender.com/static/images/background.webp" />
    <meta property="og:image:secure_url" content="https://gbbinfo-jpn.onrender.com/static/images/background.webp" />
    <meta property="og:site_name" content="GBBINFO-JPN" />
    <meta property="og:locale" content="ja_JP"  />
    <meta name="theme-color" content="#F0632F" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link rel="manifest" href="/manifest.json">
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register("/service-worker.js").then(function(registration) {
            console.log('ServiceWorkerが正常に登録されました: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorkerの登録に失敗しました: ', err);
          });
        });
      }
    </script>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="\static\scripts\last_modify.js"></script>
    <script
      src="https://mediafiles.botpress.cloud/f085f534-1c04-4fe7-b24c-45e27c6a6ac2/webchat/config.js"
      defer
    ></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YWXGGR0MST"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YWXGGR0MST');
        </script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <img src="/static/images/header.webp" alt="ヘッダー" />
        <ul>
          <a class="menu-link" href="/"
            ><li>Home/これだけガイド</li></a
          >
          <a class="menu-link" href="/{{year}}/rule"><li>ルール</li></a>

          <a class="menu-link" href="/{{year}}/participants"
            ><li>Wildcard結果&出場者</li></a
          >

          <a class="menu-link" href="/{{year}}/result"><li>大会結果</li></a>
          <div class="past_gbb_wrap">
            <li>
              過去のGBB
              <ul class="past_gbb_lists">
                <a href="/2024/top"><li class="past_gbb">GBB2024</li></a>
                <a href="/2023/top"><li class="past_gbb">GBB2023</li></a>
              </ul>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
      <br />
      <br />

      <!-- LINE -->
      <div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="https://gbbinfo-jpn.onrender.com" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

      <!-- Twitter -->
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-lang="ja" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <div class="button-container">
        <button id="installButton" class="button_top" style="visibility: hidden;">ホーム画面に追加</button>
      </div>
      <script src="\static\scripts\install.js"></script>
      <p>GBBINFO-JPNはPWAに対応しています。<br>ブラウザメニューを開き、「ホーム画面に追加」をタップすると、アプリとしてインストールできます。</p>

      <hr />
      <p style="text-align: center">GBB 2024まであと...</p>
      <strong>
        <p id="countdown" style="text-align: center; font-size: 20px"></p>
      </strong>
      <div class="button-container">
        <a href="/"><button type="button" style="width: 100%;">トップへ戻る<br>これだけガイド</button></a>
      </div>
      <div class="button-container" style="margin-top: 4px;">
        <a href="/{{year}}/rule"><button type="button">{{year}}ルール</button></a>
        <a href="/{{year}}/participants"><button type="button">{{year}}出場者</button></a>
      </div>
      <ul>
        <li><a href="/2024/top">GBB2024</a></li>
        <li><a href="/2023/top">GBB2023</a></li>
      </ul>
      <p>GBBINFO-JPN 最終更新: <span id="last-deploy-time">読み込み中...</span></p>
      <a href="https://twitter.com/tari_3210_" target="_blank" rel="noopener noreferrer">tari3210 Twitter</a>

      <footer>
        <p>
          GBBINFO-JPN 2.0<br />UNofficial website made by tari3210<br />NOT
          swissbeatbox
        </p>
      </footer>

      <script src="\static\scripts\countdown.js"></script>
      <script src="\static\scripts\scroll.js"></script>
    </main>
  </body>
</html>
