<p>dashboard</p>
<h1>{{ status }}</h1>

<br><a href="https://freefielder.jp/country_code/">国コード検索</a>
<br>
<p>add</p>
<form action="/add" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required><br>
    <label for="category">Category</label>
    <select id="category" name="category" required>
        <option value="Solo">Solo</option>
        <option value="Tag Team">Tag Team</option>
        <option value="Loopstation">Loopstation</option>
        <option value="Producer">Producer</option>
        <option value="Crew">Crew</option>
    </select><br>
    <label for="country">ISO Country code</label>
    <input type="text" id="country" name="country" pattern="[A-Za-z]{2}" required><br>
    <label for="seed_right">Seed Right</label>
    <input type="text" id="seed_right" name="seed_right"><br>
    <label for="wildcard">Wildcard</label>
    <input type="number" id="wildcard" name="wildcard"><br>
    <label for="move_up">Move Up</label>
    <select id="move_up" name="move_up" required>
        <option value="False">False</option>
        <option value="True">True</option>
    </select><br>
    <button type="submit">Add</button>
</form>

<br>
<p>update</p>
<form action="/update" method="post">
    <label for="id">Update ID</label>
    <input type="text" id="id" name="id"><br>
    <label for="name">Name</label>
    <input type="text" id="name" name="name"><br>
    <label for="category">Category</label>
    <select id="category" name="category" required>
        <option value="Solo">Solo</option>
        <option value="Tag Team">Tag Team</option>
        <option value="Loopstation">Loopstation</option>
        <option value="Producer">Producer</option>
        <option value="Crew">Crew</option>
    </select><br>
    <label for="country">ISO Country code</label>
    <input type="text" id="country" name="country" pattern="[A-Za-z]{2}" required><br>
    <label for="seed_right">Seed Right</label>
    <input type="text" id="seed_right" name="seed_right"><br>
    <label for="wildcard">Wildcard</label>
    <input type="number" id="wildcard" name="wildcard"><br>
    <label for="cancelled">Cancelled</label>
    <select id="cancelled" name="cancelled">
        <option value="False">False</option>
        <option value="True">True</option>
    </select><br>
    <label for="move_up">Move Up</label>
    <select id="move_up" name="move_up">
        <option value="True">True</option>
        <option value="False">False</option>
    </select><br>
    <button type="submit">Update</button>
</form>

<br>
<p>delete ※cancel時はdeleteではなくupdate</p>
<form action="/delete" method="post">
    <label for="id">Delete ID</label>
    <input type="text" id="id", name="id">
    <button type="submit">Delete</button>
</form>

<br>
<a href="/participants_dashboard">participants list</a>
<br>
<a href="/logout">logout</a>
