{% extends "base.html" %}
{% block title %}GBB {{ year }} 日本代表 - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}日本代表 - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}日本代表 - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/japan{% endblock %}
{% block canonical %}https://gbbinfo-jpn.onrender.com/{{ year }}/japan{% endblock %}
{% block content %}
<h1>GBB {{ year }} 日本代表</h1>

{% if is_latest_year %}
<script src="\static\scripts\last_edit.js"></script>
<p id="last-deploy-date" style="text-align: center;"></p>
{% endif %}

{% if participants %}
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>部門</th>
      <th>出場権</th>
    </tr>
  </thead>
  <tbody>
    {% for participant in participants %}
    <tr>
      {% if participant.is_cancelled %}
        <td><s>{{ participant.name }}</s><br>辞退</td>
        <td><s>{{ participant.category }}</s></td>
        <td><s>{{ participant.ticket_class }}</s></td>
      {% else %}
        <td>{{ participant.name }}</td>
        <td>{{ participant.category }}</td>
        <td>{{ participant.ticket_class }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>日本代表なし</p>
{% endif %}
<br>

<div class="button-container">
    {% if result_url %}
        <a href="{{ result_url }}"><button type="button">{{ request.args.get('category') }}<br>Wildcard順位</button></a>
    {% endif %}
    <a href="/{{year}}/participants"><button type="button">GBB{{ year }}<br>全出場者一覧</button></a>
    <a href="/{{year}}/rule"><button type="button">出場権詳細</button></a>
    <a href="/{{year}}/rule"><button type="button">GBB{{ year }}ルール&ジャッジ</button></a>
    <a href="/{{year}}/rule"><button type="button">結果発表日</button></a>
</div>

<h2>GBB {{ year }} 出場者世界地図</h2>
<p>国旗をタップorクリックすると、詳細を確認できます。</p>
<iframe src="{{ url_for('world_map', year=year) }}" width="100%" height="400px" frameborder="0"></iframe>
{% endblock %}
