{% extends "base.html" %}
{% block title %}GBB {{ year }} Wildcard結果&出場者 - GBBINFO-JPN{% endblock %}
{% block twitter_title %}GBB{{ year }}Wildcard結果&出場者 - GBBINFO-JPN{% endblock %}
{% block og_title %}GBB{{ year }}Wildcard結果&出場者 - GBBINFO-JPN{% endblock %}
{% block og_url %}https://gbbinfo-jpn.onrender.com/{{ year }}/participants{% endblock %}
{% block content %}
<h1>GBB {{ year }} Wildcard結果&出場者</h1>

<form method="GET" action="{{ url_for('participants', year=year) }}" class="participants_form">

    <label for="category">部門選択</label>
    <select name="category" id="category" class="participants_select" onchange="this.form.submit()">
        {% for c in all_category %}
        <option value="{{ c }}" {% if request.args.get('category') == c %}selected{% endif %}>{{ c }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="ticket_class">情報選択</label>
    <select name="ticket_class" id="ticket_class" class="participants_select" onchange="this.form.submit()">
        <option value="all" {% if request.args.get('ticket_class') == 'all' %}selected{% endif %}>出場者一覧</option>
        <option value="wildcard" {% if request.args.get('ticket_class') == 'wildcard' %}selected{% endif %}>Wildcard結果</option>
        <option value="seed_right" {% if request.args.get('ticket_class') == 'seed_right' %}selected{% endif %}>シード権</option>
    </select>

</form>

{% if request.args.get('ticket_class') == "wildcard" %}
<h2>{{ request.args.get('category') }}<br>Wildcard結果</h2>
{% endif %}

{% if request.args.get("ticket_class") == "seed_right" %}
<h2>{{ request.args.get('category') }}<br>シード権獲得者</h2>
{% endif %}

{% if request.args.get("ticket_class") == "all" %}
<h2>{{ request.args.get('category') }}<br>全出場者一覧</h2>
{% endif %}

{% if participants %}
<table>
    <thead>
        <tr>
            <th style="width: 33%;">名前</th>
            <th style="width: 33%;">出身</th>
            <th style="width: 33%;">出場権</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            {% if participant.is_cancelled %}
            <td><s>{{ participant.name }}</s> 辞退</td>
            <td><s>{{ participant.country }}</s></td>
            <td><s>{{ participant.ticket_class }}</s></td>
            {% else %}
            <td>{{ participant.name }}</td>
            <td>{{ participant.country }}</td>
            <td>{{ participant.ticket_class }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p style="text-align: center;">まだ更新されていないか、該当者がいないか... のどちらかです<br>ほかの部門も確認してみてください</p>
{% endif %}

{% if result_url %}
<a href="{{ result_url }}">{{ request.args.get('category') }}部門 wildcard その他の順位</a>
{% endif %}

<p>出場権の詳細・結果発表日は<a href="/{{ year }}/rule">ルール</a>をご確認ください。</p>

<form method="GET" action="{{ url_for('participants', year=year) }}" class="participants_form">

    <label for="category">部門選択</label>
    <select name="category" id="category" class="participants_select" onchange="this.form.submit()">
        {% for c in all_category %}
        <option value="{{ c }}" {% if request.args.get('category') == c %}selected{% endif %}>{{ c }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="ticket_class">情報選択</label>
    <select name="ticket_class" id="ticket_class" class="participants_select" onchange="this.form.submit()">
        <option value="all" {% if request.args.get('ticket_class') == 'all' %}selected{% endif %}>出場者一覧</option>
        <option value="wildcard" {% if request.args.get('ticket_class') == 'wildcard' %}selected{% endif %}>Wildcard結果</option>
        <option value="seed_right" {% if request.args.get('ticket_class') == 'seed_right' %}selected{% endif %}>シード権</option>
    </select>

</form>


<h2>GBB {{ year }} 出場者世界地図</h2>
<p>国旗をタップorクリックすると、詳細を確認できます。</p>
<iframe src="{{ url_for('world_map', year=year) }}" width="100%" height="400px" frameborder="0"></iframe>
{% endblock %}
