{% extends "base.html" %}
{% block title %}GBB {{ year }} Wildcard結果&出場者 - {{ super() }}{% endblock %}

{% block content %}
<h1>GBB {{ year }} Wildcard結果&出場者</h1>

<form method="GET" action="{{ url_for('participants', year=year) }}" class="participants_form">

    <label for="category">部門選択</label>
    <select name="category" id="category" class="participants_select">
        {% for c in all_category %}
        <option value="{{ c }}" {% if request.args.get('category') == c %}selected{% endif %}>{{ c }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="ticket_class">情報選択</label>
    <select name="ticket_class" id="ticket_class" class="participants_select">
        <option value="all" {% if request.args.get('ticket_class') == 'all' %}selected{% endif %}>出場者一覧</option>
        <option value="wildcard" {% if request.args.get('ticket_class') == 'wildcard' %}selected{% endif %}>Wildcard結果</option>
        <option value="seed_right" {% if request.args.get('ticket_class') == 'seed_right' %}selected{% endif %}>シード権</option>
    </select>
    <br>
    <div style="text-align: center;">
        <button type="submit" class="participants_filter">検索</button>
    </div>

</form>

{% if request.args.get('ticket_class') == "wildcard" %}
<h2>{{ request.args.get('category') }}<br>Wildcard結果</h2>
{% endif %}

{% if request.args.get("ticket_class") == "seed_right" %}
<h2>{{ request.args.get('category') }}<br>シード権獲得者</h2>
{% endif %}

{% if request.args.get("ticket_class") == "all" %}
<h2>{{ request.args.get('category') }}<br>全出場者一覧</h2>
{% endif %}

{% if participants %}
<table>
    <thead>
        <tr>
            <th>名前</th>
            <th>出身</th>
            <th>出場権</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            {% if participant.is_cancelled %}
            <td><s>{{ participant.name }}</s> 辞退</td>
            <td><s>{{ participant.country }}</s></td>
            <td><s>{{ participant.ticket_class }}</s></td>
            {% else %}
            <td>{{ participant.name }}</td>
            <td>{{ participant.country }}</td>
            <td>{{ participant.ticket_class }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p style="text-align: center;">まだ更新されていないか、該当者がいないか... のどちらかです<br>ほかの部門も確認してみてください</p>
{% endif %}

<p>出場権の詳細は<a href="/{{ year }}/rule">ルール</a>をご確認ください。</p>

<!-- TODO: GBBインスタの結果投稿リンクをどうにかして受け取ってここで表示 -->

<form method="GET" action="{{ url_for('participants', year=year) }}" class="participants_form">

    <label for="category">部門選択</label>
    <select name="category" id="category" class="participants_select">
        {% for c in all_category %}
        <option value="{{ c }}" {% if request.args.get('category') == c %}selected{% endif %}>{{ c }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="ticket_class">情報選択</label>
    <select name="ticket_class" id="ticket_class" class="participants_select">
        <option value="all" {% if request.args.get('ticket_class') == 'all' %}selected{% endif %}>出場者一覧</option>
        <option value="wildcard" {% if request.args.get('ticket_class') == 'wildcard' %}selected{% endif %}>Wildcard結果</option>
        <option value="seed_right" {% if request.args.get('ticket_class') == 'seed_right' %}selected{% endif %}>シード権</option>
    </select>
    <br>
    <div style="text-align: center;">
        <button type="submit" class="participants_filter">検索</button>
    </div>
</form>

<h2>GBB {{ year }} 出場者世界地図</h2>

<iframe src="{{ url_for('world_map', year=year) }}" width="100%" height="400px"></iframe>

{% endblock %}
